<ul>
	{% if pwic.env.support_email %}
		<li>By email: <a href="mailto:{{pwic.env.support_email.value|urlencode}}">{{pwic.env.support_email.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_phone %}
		<li>By phone: <a href="tel:{{pwic.env.support_phone.value|replace(' ','')|urlencode}}">{{pwic.env.support_phone.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_url %}
		<li>On a portal: <a href="{{pwic.env.support_url.value|urlencode}}">{{pwic.env.support_url.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_text %}
		<li>
			{% if pwic.env.safe_mode %}
				{{pwic.env.support_text.value|escape|replace('\\n','<br/>')}}
			{% else %}
				{{pwic.env.support_text.value|replace('\\n','<br/>')}}
			{% endif %}
		</li>
	{% endif %}
</ul>