<p id="page_topofpage"><a href="#top">Top of the page</a></p>

<footer>
	<div>
		Powered by Pwic v{{pwic.constants.version|escape}} &copy; 2020-2021 &mdash; {{pwic.emojis.help}} <a href="/special/help">Help</a>
		{% if pwic.user %}
			{% if not pwic.env.no_logon %}
				 &mdash; {{pwic.emojis.laptop}} <a href="/special/user/{{pwic.user|urlencode}}" title="Your profile">{{pwic.user|escape}}</a> (<strong><a href="/api/logout" onclick="return confirm('Are you sure to disconnect from Pwic?')">Log out</a></strong>)
			{% endif %}
		{% else %}
			 &mdash; <a href="/">Log on</a>
		{% endif %}
	</div>
</footer>

<script>
	pwic_url_status('The operation is a success.', 'The operation failed.');
</script>
