
<p id="page_topofpage" class="pwic_hidden">
	<a href="#top">{{pwic.emojis.top}} Top of the page {{pwic.emojis.top}}</a>
</p>

<footer>
	<div>
		Powered by <a href="https://pwic.wiki">Pwic.wiki</a> v{{pwic.constants.version|escape}} &copy; 2020-2022
		{% if not pwic.env.no_help %}
			&mdash; {{pwic.emojis.help}}&nbsp;<a href="/special/help">Help</a>
		{% endif %}
		&mdash;
		{% if (pwic.user != '') and (pwic.user[:4] != 'pwic') %}
			 {{pwic.emojis.laptop}}&nbsp;<a href="/special/user/{{pwic.user|urlencode}}" title="Your profile" rel="nofollow">{{pwic.user|escape}}</a> (<a class="pwic_bold" href="/special/logout" onclick="return confirm('Are you sure to disconnect from Pwic.wiki?')">Log out</a>)
		{% else %}
			 <a class="pwic_bold" href="/special/login">Log in</a>
		{% endif %}
	</div>
</footer>

<script>
	$('H1,H2,H3,H4,H5,H6,TH,TD,P,DIV,SPAN,A,LI').removeClass('pwic_js');
	pwic_url_status('The operation is a success.', 'The operation failed.');
</script>
