{% extends 'main.html' %}


{% block content %}
	<header>
		<h1><a href="/">Help</a></h1>
	</header>

	<article>
		<p class="pwic_action_bar">
			<span title="The page is protected">{{pwic.emojis.padlock}}</span>
		</p>


		<h1>Matrix of the authorizations</h1>
		<table class="pwic_zebra">
			<tr><th>Doc</th><th>Action</th><th>Admin</th><th>Manager</th><th>Editor</th><th>Validator</th><th>Reader</th></tr>
			<tr><td><a href="#help_setup">{{pwic.emojis.glasses}}</a></td><td>Setup the server</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_backup">{{pwic.emojis.glasses}}</a></td><td>Create a backup</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_project">{{pwic.emojis.glasses}}</a></td><td>Create a project</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_delete_project">{{pwic.emojis.glasses}}</a></td><td>Delete a project</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_user">{{pwic.emojis.glasses}}</a></td><td>Create a user account</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_pass1">{{pwic.emojis.glasses}}</a></td><td>Change own password</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_pass2">{{pwic.emojis.glasses}}</a></td><td>Change the password of another user</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_grant">{{pwic.emojis.glasses}}</a></td><td>Grant the authorizations</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_create">{{pwic.emojis.glasses}}</a></td><td>Create a page</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_modify">{{pwic.emojis.glasses}}</a></td><td>Modify a page</td><td></td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td></td><td></td></tr>
			<tr><td><a href="#help_promote">{{pwic.emojis.glasses}}</a></td><td>Promote to the header line</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_delete">{{pwic.emojis.glasses}}</a></td><td>Delete a revision</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td></td><td></td></tr>
			<tr><td><a href="#help_read">{{pwic.emojis.glasses}}</a></td><td>Read a page</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td>&nbsp;</td><td>View the history of a page</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_print">{{pwic.emojis.glasses}}</a></td><td>Print to PDF</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_validate">{{pwic.emojis.glasses}}</a></td><td>Validate a revision</td><td></td><td></td><td></td><td>{{pwic.emojis.check}}</td><td></td></tr>
			<tr><td><a href="#help_export">{{pwic.emojis.glasses}}</a></td><td>Export a project</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_links">{{pwic.emojis.glasses}}</a></td><td>Verify the links</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_search">{{pwic.emojis.glasses}}</a></td><td>Search across the pages</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_log">{{pwic.emojis.glasses}}</a></td><td>View the activity log</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_log_user">{{pwic.emojis.glasses}}</a></td><td>View the activity of a user</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
		</table>


		<h1 id="help_setup">Setup the server</h1>
		<p>Refer to the file <code>README.md</code> available in the root directory of the application.</p>
		<p>Beware that the restart of the server closes all the current sessions, which would lose all the current online work of the editors and managers.</p>
		<p>With the command <code>python pwic_admin.py set-env --help</code>, you can define a general parameter that will influence Pwic's behavior for all the projects:</p>
			<table>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
				<tr>
					<td><code>document_name_regex</code></td>
					<td>Set a <a href="https://docs.python.org/3.7/howto/regex.html" target="_blank">regular expression</a> to force any uploaded files to respect a strict naming convention.</td>
				</tr>
				<tr>
					<td><code>enforce_mime</code></td>
					<td>Pwic has a predefined list of usual file types and their signature. This security feature ensures that a file has the extension of its supposed content.</td>
				</tr>
				<tr>
					<td><code>maintenance</code></td>
					<td>The value is displayed on the pages to inform the users of a planned maintenance. The upload of documents is immediately disabled.</td>
				</tr>
				<tr>
					<td><code>max_document_size</code></td>
					<td>All the uploaded files must have a size lower than this limit. To disable the upload, set the value <code>-1</code>.</td>
				</tr>
				<tr>
					<td><code>max_project_size</code></td>
					<td>Define the maximal disk space allowed for all the attached documents of a project.</td>
				</tr>
				<tr>
					<td><code>no_export</code></td>
					<td>Disable the export of the project as an archive for the online administrators.</td>
				</tr>
				<tr>
					<td><code>no_raw</code></td>
					<td>Disable the online possibility to display the raw markdown code of any page.</td>
				</tr>
			</table>


		<h1 id="help_backup">Create a backup</h1>
		<p>First, it is recommended to shut down the server. Warn your users in advance by running the command <code>python pwic_admin.py set-env maintenance "Message"</code>. Note that it disables the capability to attach documents to the pages.</p>
		<p>Then run the command <code>python pwic_admin.py create-backup</code> on a periodic basis.</p>
		<p>A new file is created with the current time stamp. The name of the backup file can be extracted with <code>sed</code> if you have further scripting needs.</p>
		<p>To restore the backup, simply replace the current database with a previous backup. Any changes made meanwhile will be lost. You must also ensure that the backup file is compatible with your used version of Pwic.</p>


		<h1 id="help_project">Create a project</h1>
		<p>As per the authorizations are designed, the creation of a new project is only possible in command line. Run the command <code>python pwic_admin.py create-project --help</code> for further details.</p>
		<p>By default, you cannot create new pages. You must expand your rights, or add new dedicated users having the right profile. Refer to the matrix above for the feasible actions per profile.</p>


		<h1 id="help_delete_project">Delete a project</h1>
		<p>Deleting a project cannot be undone. The action is done in the console only through the following command: <code>python pwic_admin.py delete-project --help</code></p>


		<h1 id="help_user">Create a user account</h1>
		<p>The users are created by default as readers. The default password is predetermined by the general configuration.</p>
		<p>The users must change their password before you can change their authorizations.</p>


		<h1 id="help_pass1">Change own password</h1>
		{% if pwic.user != '' %}
			<p>The form is available in your <a href="/special/user/{{pwic.user|urlencode}}">profile page</a>.</p>
		{% endif %}
		<p>It is recommended to setup Pwic with SSL support so that the new passwords cannot be intercepted in clear format.</p>


		<h1 id="help_pass2">Change the password of another user</h1>
		<p>The recovery of the lost passwords is an administrative task since Pwic handles neither emails, nor personal information. Run the command <code>python pwic_admin.py reset-password --help</code> for further details.</p>


		<h1 id="help_grant">Grant the authorizations</h1>
		<p>The administrators only can grant new rights to the users if they changed their password once.</p>
		<p>The rights are project-dependent. The page is accessible from the special page.</p>
		<p>A user must have one profile at least (ex: reader) else he cannot be part of the project team. To switch from one profile to another for a user, you should first activate the new profile, then deactivate the old profile.</p>
		<p>The profile administrator cannot be auto-removed to ensure that there is always one administrator per project.</p>
		<p>The assignment of the rights is monitored. You should also consider the separation of duties: no one should be able to do everything.</p>


		<h1 id="help_create">Create a page</h1>
		<p>The creation of new pages is restricted to the managers in order to monitor the documentation efficiently. Each page is codified with an external identifier that can be listed alphabetically in each project overview.</p>
		<p>If a page is created in reference to another page, its content is copied by default. In that way, you can dedicate a project for containing the default templates. It is not possible to refer to a page that doesn't exist or for which you have no access rights.</p>


		<h1 id="help_modify">Modify a page</h1>
		<p>A new revision is generated each time a page is modified.</p>
		<p>Saving as draft means that you are working on a page. It is a work in progress that needs no particular attention, except the one of the current editor. You can delete your own drafts. They are also automatically deleted once you publish a final version.</p>
		<p>Saving as final means that the document is ready to be reviewed by the validator. It also physically deletes all your own previous revisions marked as draft.</p>
		<p>If you want to save a document which is neither a draft, nor a final version, just save it with none of these flags. Such a revision is a milestone and can be deleted by an administrator only.</p>
		<p>It is not possible to write pure HTML code in an article because it would allow security problems with <code>&lt;script&gt;</code> or <code>&lt;iframe&gt;</code>.</p>
		<p>The attribute <em>Reason</em> of the page is a mandatory text that summarizes the purpose of the modification. It is used in the history to search for old revisions at glance.</p>
		<p>The attribute <em>Milestone</em> of the page is an optional free comment that can be used, for example, by the manager to request a delivery date, or by the editor to announce a publishing date. You can also indicate your difficulties, the current progression, etc...</p>
		<p>You can upload several files for a page. In case it is a picture, you can also include it in the page as a figure, else the files are listed on a gallery below the page. In any case, many rules apply in the uploading process:</p>
			<ul>
				<li>No revision is created when a file is created, modified or deleted. The changes are instantly considered.</li>
				<li>You can't recover the deleted files, unless you own a backup.</li>
				<li>The filename must be unique per project and the file is attached to a page:
					<ul>
						<li>The file is created if it doesn't exist yet.</li>
						<li>The file is updated if it exists and is assigned to the current page.</li>
						<li>The file is <ins>not</ins> updated if it exists and is assigned to another page.</li>
					</ul>
				</li>
				<li>The filename must respect a naming convention if the variable <code>document_name_regex</code> set by the administrator contains a regular expression.</li>
				<li>A file size limit may apply if the administrator has defined the variable <code>max_document_size</code>.</li>
				<li>The content of the file must match with the file type if the administrator has defined the variable <code>enforce_mime</code>.</li>
				<li>The feature is not available with the obsolete browser Microsoft Internet Explorer.</li>
			</ul>


		<h1 id="help_promote">Promote to the header line</h1>
		<p>The header line of the project allows a quick access to the pages that link to other thematic pages.</p>
		<p>There is no limitation in the number of header items, but it is recommended to not exceed 10 items.</p>


		<h1 id="help_delete">Delete a revision</h1>
		<p>A page is not deleted, but a given revision. When all the revisions are deleted, the page is then fully deleted. However, not all the revisions can be deleted because of the required traceability.</p>
		<p>A manager or an editor can delete his/her own drafts. An administrator can delete a revision that is neither final, nor validated.</p>
		<p>A deleted revision may be reallocated later because the numbering is done in a sequential order.</p>


		<h1 id="help_read">Read a page</h1>
		<p>You must have an account to be able to read the documentation.</p>


		<h1 id="help_print">Print to PDF</h1>
		<p>A dedicated layout is suitable for the conversion to PDF through the function "Print" of your web browser.</p>
		<p>You should install a separate virtual printer to convert to PDF. To use the one from Microsoft, execute the command <code>%windir%\System32\OptionalFeatures.exe</code>.</p>


		<h1 id="help_validate">Validate a revision</h1>
		<p>Several conditions are required to validate a page:</p>
			<ul>
				<li>You have the role "validator" on the project.</li>
				<li>You have changed your password once.</li>
				<li>The page to validate is marked as "final" by the editor.</li>
			</ul>


		<h1 id="help_export">Export a project</h1>
		<p>The administrators are able to download a project as a ZIP file containing all the pages and attached documents. The purposes are the creation of a backup or the preparation of a migration for example.</p>
		<p>The export is audited and can be disabled by setting the administrative variable <code>no_export</code>.</p>


		<h1 id="help_links">Verify the links</h1>
		<p>Pwic can verify the internal links of the pages to ensure that:</p>
			<ul>
				<li>Each page is linked to another one at least (check for orphans).</li>
				<li>Each page is not linking to a non-existent page (check for broken links).</li>
			</ul>
		<p>The checks apply within a given project. The links to other projects are neither reported as orphan, nor as broken.</p>
		<p>The feature serves as a general monitoring tool for the documentation.</p>


		<h1 id="help_search">Search across the pages</h1>
		<p>The search works with exact literals. If you are looking for the word <code>excellent</code> but the page contains the word <code>exellent</code> (without the <code>c</code>), you won't find any result. Consequently, writing without mistake is a main objective not only for search purposes, but also for the general quality of the documentation.</p>
		<p>The search engine doesn't build an index of words. It means that you are able to search within a word. For example, <code>document</code> will match with both <code>document</code> and <code>documents</code>, but <code>documents</code> will match with itself only. Consequently, you should avoid the plural forms to maximize the number of results. This feature is also very important to be able to search for partial technical keywords if the documentation contains lines of code.</p>
		<p>You can search for individual words, but also for sentences if you use double quotes. For exemple, <code>"my documentation"</code> will not match with <code>my last documentation</code>. However, <code>my documentation</code> would match with it because there is no quote (<code>my</code> and <code>documentation</code> are processed separately).</p>
		<p>You can exclude a term by adding a leading minus sign (<code>-</code>). For example, <code>-validated</code> will exclude all the pages containing the word <code>validated</code>. You can combine negated terms and they will act as an OR condition. It means that if one of the negated terms is part of the page, then the page is fully excluded. If case you want to search the minus sign explicitly, consider using surrounding quotes (<code>"-validated"</code>).</p>
		<p>The terms that are not negated act as an AND condition. It means that all the terms must appear so that the page can be selected. Usually, you should not use the keyword <code>and</code> explicitly. It is not possible to make OR conditions with these terms, so do separate searches instead.</p>
		<p>Some special search terms exist:</p>
			<ul>
				<li><code>term</code> searches in the content of the page, or for the exact page identifier. This is the default behavior.</li>
				<li><code>author:term</code> checks the term against the author of the latest revision.</li>
				<li><code>title:term</code> checks the term in the title of the page.</li>
				<li><code>:draft</code> searches for draft copies.</li>
				<li><code>:not-draft</code> searches for copies not marked as draft.</li>
				<li><code>:final</code> searches for final copies.</li>
				<li><code>:not-final</code> searches for copies not marked as final.</li>
				<li><code>validator:term</code> checks the term against the validator of the latest revision. If the term is empty, the check returns a match, so prefer the keyword <code>:validated</code> in that case.</li>
				<li><code>:validated</code> checks that the page is validated, whoever is the validator.</li>
				<li><code>:not-validated</code> checks that the page is not validated.</li>
			</ul>
		<p>At the end, the pages are sorted by the number of occurrences of the search terms. Each term that is not negated contribute to the score as a sum. Because of that, your search terms should be at least 3 or 4 character-long.</p>
		<p>The search is case-insensitive.</p>
		<p>Searching in the old revisions is not possible.</p>


		<h1 id="help_log">View the activity log</h1>
		<p>Pwic logs many activities to enforce the traceability of the documentation. In case of troubles, it is possible to unwind the events and have a better overview of the situation.</p>
		<p>Online, the administrator of a project can see the events related to the project only, like the creation of a page, a deletion, a validation...</p>
		<p>At system level, it is possible to display all the events, including the ones not related to a dedicated project. The listing can be filtered out like this: <code>python pwic_admin.py show-log 365 | grep grant</code> would return all the modifications of the users' rights over the last year.</p>


		<h1 id="help_log_user">View the activity of a user</h1>
		<p>The user page contains a public overview of the recently modified pages (over the last 30 days) and the uploaded documents.</p>
		<p>Your own user page is mentionned in the footer.</p>
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
