{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/">Help</a></div>
	</header>

	<article>
		<p class="pwic_action_bar">
			<span title="The page is protected">{{pwic.emojis.padlock}}</span>
		</p>

		{% if pwic.env.support_email or pwic.env.support_phone or pwic.env.support_url %}
			<h1>Support from your internal organization</h1>
			<p>Your administrator has defined some possibilities to contact the support team. Please use them in priority:</p>
			<ul>
				{% if pwic.env.support_email %}
				<li>By email: <a href="mailto:{{pwic.env.support_email.value|urlencode}}">{{pwic.env.support_email.value|escape}}</a></li>
				{% endif %}
				{% if pwic.env.support_phone %}
				<li>By phone: <a href="tel:{{pwic.env.support_phone.value|urlencode}}">{{pwic.env.support_phone.value|escape}}</a></li>
				{% endif %}
				{% if pwic.env.support_url %}
				<li>On a portal: <a href="{{pwic.env.support_url.value|urlencode}}">{{pwic.env.support_url.value|escape}}</a></li>
				{% endif %}
			</ul>
			<p>Below is a generic explanation of all the features of Pwic.</p>
		{% endif %}

		<h1 id="help_top">Matrix of the authorizations</h1>
		<table class="pwic_zebra">
			<tr><th>Doc</th><th>Action</th><th>Admin</th><th>Manager</th><th>Editor</th><th>Validator</th><th>Reader</th></tr>
			<tr><td><a href="#help_setup">{{pwic.emojis.glasses}}</a></td><td>Setup the server</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_backup">{{pwic.emojis.glasses}}</a></td><td>Create a backup</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_project">{{pwic.emojis.glasses}}</a></td><td>Create a project</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_delete_project">{{pwic.emojis.glasses}}</a></td><td>Delete a project</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_user">{{pwic.emojis.glasses}}</a></td><td>Create a user account</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_pass1">{{pwic.emojis.glasses}}</a></td><td>Change own password</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_pass2">{{pwic.emojis.glasses}}</a></td><td>Change the password of another user</td><td>{{pwic.emojis.check}} (console)</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_grant">{{pwic.emojis.glasses}}</a></td><td>Grant the authorizations</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_create">{{pwic.emojis.glasses}}</a></td><td>Create a page</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_modify">{{pwic.emojis.glasses}}</a></td><td>Modify a page</td><td></td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td></td><td></td></tr>
			<tr><td><a href="#help_promote">{{pwic.emojis.glasses}}</a></td><td>Promote to the header line</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_delete">{{pwic.emojis.glasses}}</a></td><td>Delete a revision</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td></td><td></td></tr>
			<tr><td><a href="#help_read">{{pwic.emojis.glasses}}</a></td><td>Read a page</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td>&nbsp;</td><td>View the history of a page</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_export">{{pwic.emojis.glasses}}</a></td><td>Export a page</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td></tr>
			<tr><td><a href="#help_validate">{{pwic.emojis.glasses}}</a></td><td>Validate a revision</td><td></td><td></td><td></td><td>{{pwic.emojis.check}}</td><td></td></tr>
			<tr><td><a href="#help_export_project">{{pwic.emojis.glasses}}</a></td><td>Export a project</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_links">{{pwic.emojis.glasses}}</a></td><td>Verify the links</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_graph">{{pwic.emojis.glasses}}</a></td><td>Graph of the links</td><td></td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_search">{{pwic.emojis.glasses}}</a></td><td>Search across the pages</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_searchdoc">{{pwic.emojis.glasses}}</a></td><td>Search across the documents</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_log">{{pwic.emojis.glasses}}</a></td><td>View the activity log</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
			<tr><td><a href="#help_log_user">{{pwic.emojis.glasses}}</a></td><td>View the activity of a user</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td><td>{{pwic.emojis.check}}</td></tr>
			<tr><td><a href="#help_automate">{{pwic.emojis.glasses}}</a></td><td>Automate Pwic</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td><td>{{pwic.emojis.check}} (partial)</td></tr>
			<tr><td><a href="#help_licenses">{{pwic.emojis.glasses}}</a></td><td>Read the licences</td><td>{{pwic.emojis.check}}</td><td></td><td></td><td></td><td></td></tr>
		</table>


		<h1 id="help_setup"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Setup the server</h1>
		<p>Refer to the file <code>README.md</code> available at the root directory of the application to know more about the default setup.</p>
		<p>With the command <code>python pwic_admin.py set-env --help</code>, you can define the following parameters that will influence Pwic's behavior:</p>
			<table>
				<tr>
					<th>Name</th>
					<th>Project-dependent</th>
					<th>Description</th>
				</tr>
				<tr>
					<td><code>api_expose_markdown</code></td>
					<td>Yes</td>
					<td>Expose the content of the pages in the API <code>/api/project/info</code> to allow the full copy of the documentation.</td>
				</tr>
				<tr>
					<td><code>base_url</code></td>
					<td>No</td>
					<td>Define the base HTTP address of your website so that the links can be rebuilt correctly when some data are exported. Don't write the trailing character <code>/</code>.</td>
				</tr>
				<tr>
					<td><code>cors</code></td>
					<td>No</td>
					<td>Enable <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a> that adds the HTTP header <code>Access-Control-Allow-Origin</code>.</td>
				</tr>
				<tr>
					<td><code>css</code></td>
					<td>Yes</td>
					<td>Define absolute or relative HTTP locations for additional CSS files of your choice and separated by <code>;</code>.</td>
				</tr>
				<tr>
					<td><code>disabled_formats</code></td>
					<td>Yes</td>
					<td>List of the file extensions separated with a space that cannot be used to export a page. The value <code>*</code> is possible.</td>
				</tr>
				<tr>
					<td><code>document_name_regex</code></td>
					<td>Yes</td>
					<td>Set a <a href="https://docs.python.org/3.7/howto/regex.html" target="_blank">regular expression</a> to force any uploaded files to respect a strict naming convention.</td>
				</tr>
				<tr>
					<td><code>ip_filter</code></td>
					<td>No</td>
					<td>
						- List of IP addresses separated by <code>;</code>. The unauthorized addresses are prefixed by <code>~</code> and used as <em>AND</em> conditions, else as <em>OR</em> conditions.
						<br/>- To be fully effective, the server should be restarted when the value is changed. The current sessions will be terminated.
						<br/>- The IP check applies to the host that connected, not with forward proxy configuration.
					</td>
				</tr>
				<tr>
					<td><code>heading_mask</code></td>
					<td>Yes</td>
					<td>Codify the headers according to the given format. The default one is <code>1.1.1.1.1.1.</code>. There are 6 levels maximum. You can use the Arabic numerals (<code>1</code>), the Roman notation up to 4999 (<code>I</code>), a letter in uppercase (<code>A</code>) or in lowercase (<code>a</code>). The separator is a free character. For example, you can define <code>A)1)a-a.1.a.</code>. The implicit tag name for the header is named with <code>#p</code> followed by the shortest codification, in lowercase and with a dot (ex: <code>#pi.1.a.a.</code>).</td>
				</tr>
				<tr>
					<td><code>maintenance</code></td>
					<td>No</td>
					<td>The value is displayed on the pages to inform the users of a planned maintenance. The upload of documents is immediately disabled.</td>
				</tr>
				<tr>
					<td><code>mathjax</code></td>
					<td>Yes</td>
					<td>Enable the renderer of mathematical expressions. As a special constraints, the sign <code>\</code> must be doubled. For example, the usual form <code>\(\sqrt{x^2}\)</code> should be written as <code>\\(\\sqrt{x^2}\\)</code> in the online editor.</td>
				</tr>
				<tr>
					<td><code>max_document_size</code></td>
					<td>Yes</td>
					<td>All the uploaded files must have a size lower than this limit. To disable the upload, set the value <code>-1</code>.</td>
				</tr>
				<tr>
					<td><code>max_project_size</code></td>
					<td>Yes</td>
					<td>Define the maximal disk space allowed for all the attached documents of a project.</td>
				</tr>
				<tr>
					<td><code>mde</code></td>
					<td>Yes</td>
					<td>Activate the visual <em>wysiwyg</em> Markdown editor.</td>
				</tr>
				<tr>
					<td><code>mime_enforcement</code></td>
					<td>No</td>
					<td>Pwic has a predefined list of usual file types and their signature. This security feature ensures that a file has the extension of its expected content.</td>
				</tr>
				<tr>
					<td><code>no_export_project</code></td>
					<td>Yes</td>
					<td>Disable the export of the project as an archive for the online administrators.</td>
				</tr>
				<tr>
					<td><code>no_logon</code></td>
					<td>No</td>
					<td>Skip the logon screen and assign the anonymous role to any visitor. As per the default behavior of the user account <code>{{pwic.constants.anonymous_user}}</code>, Pwic becomes public, read-only and you update the instance by transferring the folder <code>{{pwic.constants.db_path}}</code> administratively. The server must be restarted when the option is changed.</td>
				</tr>
				<tr>
					<td><code>no_printing</code></td>
					<td>Yes</td>
					<td>To save some trees, enable a basic protection to prevent the printing of a page. It also disables the export to PDF through a virtual printer.</td>
				</tr>
				<tr>
					<td><code>no_text_selection</code></td>
					<td>Yes</td>
					<td>Enable a basic protection to prevent the user from playing around with his web browser to copy the text of the main page. It also forces the readers to focus on reading the page.</td>
				</tr>
				<tr>
					<td><code>password_regex</code></td>
					<td>No</td>
					<td>Set a <a href="https://docs.python.org/3.7/howto/regex.html" target="_blank">regular expression</a> to force the passwords to respect a predefined format. Few examples can be found <a href="https://stackoverflow.com/questions/19605150/">here</a>. The option does not apply when you reset the password from the console.</td>
				</tr>
				<tr>
					<td><code>safe_mode</code></td>
					<td>No</td>
					<td>This option is activated by default. It prevents the Markdown renderer from producing unauthorized HTML content (script, iframe...) that could create security issues.</td>
				</tr>
				<tr>
					<td><code>ssl</code></td>
					<td>No</td>
					<td>Enable HTTPS for Pwic provided that you have installed or generated the appropriate certificates. The new value is effective after the restart of the server.</td>
				</tr>
				<tr>
					<td><code>support_email</code></td>
					<td>Yes</td>
					<td>A user can write to this email address to get support.</td>
				</tr>
				<tr>
					<td><code>support_phone</code></td>
					<td>Yes</td>
					<td>A user can call this phone number to get support.</td>
				</tr>
				<tr>
					<td><code>support_url</code></td>
					<td>Yes</td>
					<td>Portal address that a user can use to find an extended help.</td>
				</tr>
			</table>
		<p>The project-independent variables generally require a restart of the server. Beware that doing that closes all the current sessions. The users will have to reconnect from another tab when the server is back in order to be able to save their work in progress.</p>


		<h1 id="help_backup"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Create a backup</h1>
		<p>First, it is recommended to shut down the server. Warn your users in advance by running the command <code>python pwic_admin.py set-env maintenance "Message"</code>. Note that it disables the capability to attach or update new documents to the pages.</p>
		<p>Then run the command <code>python pwic_admin.py create-backup</code> on a periodic basis. A new file is created with the current time stamp. The name of the backup file can be extracted with <code>sed</code> if you have further scripting needs. Basically, it is a copy of the database <strong>without</strong> the documents that remain in the dedicated folder of the projects.</p>
		<p>To restore the backup, simply replace the current database with a previous backup. Any changes made meanwhile will be lost. You must also ensure that the backup file is compatible with your used version of Pwic.</p>


		<h1 id="help_project"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Create a project</h1>
		<p>As per the authorizations are designed, the creation of a new project is only possible in command line. Run the command <code>python pwic_admin.py create-project --help</code> for further details.</p>
		<p>By default, you cannot create new pages. You must expand your rights, or add new dedicated users having the right profile. Refer to the matrix above for the feasible actions per profile.</p>


		<h1 id="help_delete_project"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Delete a project</h1>
		<p>Deleting a project cannot be undone. The action is done in the console only through the following command: <code>python pwic_admin.py delete-project --help</code></p>


		<h1 id="help_user"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Create a user account</h1>
		<p>The users are created by default as readers. The default password is predetermined by the general configuration.</p>
		<p>The users must change their password before you can change their authorizations.</p>


		<h1 id="help_pass1"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Change own password</h1>
		{% if pwic.user != '' %}
			<p>The form is available in your <a href="/special/user/{{pwic.user|urlencode}}">profile page</a>.</p>
		{% endif %}
		<p>It is recommended to setup Pwic with SSL support so that the new passwords cannot be intercepted in clear format.</p>


		<h1 id="help_pass2"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Change the password of another user</h1>
		<p>The recovery of the lost passwords is an administrative task since Pwic handles neither emails, nor personal information. Run the command <code>python pwic_admin.py reset-password --help</code> for further details.</p>


		<h1 id="help_grant"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Grant the authorizations</h1>
		<p>The rights are project-dependent. The form is accessible from the special page.</p>
		<p>The administrators only can grant new rights to the users if they changed their password once.</p>
		<p>A user must have one profile at least (ex: reader) to be able to view the project. To switch from one profile to another for a user, you should first activate the new profile, then deactivate the old profile.</p>
		<p>The profile administrator cannot be removed or disabled oneself to ensure that there is always one administrator per project.</p>
		<p>The assignment of the rights is monitored. You should also consider the separation of duties: no one should be able to do everything.</p>
		<p>The anonymous access is given by the special user account <code>{{pwic.constants.anonymous_user|escape}}</code>. The account cannot be removed. You can disable it or enhance its rights (excluding administrator).</p>


		<h1 id="help_create"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Create a page</h1>
		<p>The creation of new pages is restricted to the managers in order to monitor the documentation efficiently. Each page is codified with an external identifier that can be listed alphabetically in each project overview.</p>
		<p>If a page is created in reference to another page, its content is copied by default. In that way, you can dedicate a project for containing the default templates. It is not possible to refer to a page that doesn't exist or for which you have no access rights.</p>


		<h1 id="help_modify"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Modify a page</h1>
		<p>A new revision is generated each time a page is modified.</p>
		<p>Saving as draft means that you are working on a page. It is a work in progress that needs no particular attention, except the one of the current editor. You can delete your own drafts. They are also automatically deleted once you publish a final version.</p>
		<p>Saving as final means that the document is ready to be reviewed by the validator. It also physically deletes all your own previous revisions marked as draft.</p>
		<p>If you want to save a document which is neither a draft, nor a final version, just save it with none of these flags. Such a revision is a milestone and can be deleted by an administrator only.</p>
		<p>It is not possible to write pure HTML code in an article because it would allow security problems with <code>&lt;script&gt;</code> or <code>&lt;iframe&gt;</code>.</p>
		<p>If enabled by the administrator, you can embed mathematical expressions supported by MathJax. As a special constraints, the sign <code>\</code> must be doubled. For example, the usual form <code>\(\sqrt{x^2}\)</code> should be written as <code>\\(\\sqrt{x^2}\\)</code> in the online editor.</p>
		<p>The tags are the base to classify the pages freely. The keywords are separated by a space. You can search for a tag in the search engine by usign a hash (ex: <code>#tag</code>). A tag counts a lot in the evaluation of the results.</p>
		<p>The attribute <em>Reason</em> of the page is a mandatory text that summarizes the purpose of the modification. It is used in the history to search for old revisions at glance.</p>
		<p>The attribute <em>Milestone</em> of the page is an optional free comment that can be used, for example, by the manager to request a delivery date, or by the editor to announce a publishing date. You can also indicate your difficulties, the current progress, etc...</p>
		<p>You can upload several files for a page. In case it is a picture, you can also include it in the page as a figure, else as a link. All the files are listed on a gallery below the page. In any case, many rules apply in the uploading process:</p>
			<ul>
				<li>No revision is created when a file is created, modified or deleted. The changes are instantly considered.</li>
				<li>You can't recover the deleted files, unless you own a backup.</li>
				<li>The filename must be unique per project and the file is attached to a page:
					<ul>
						<li>The file is created if it doesn't exist yet.</li>
						<li>The file is updated if it exists and is assigned to the current page.</li>
						<li>The file is <ins>not</ins> updated if it exists and is assigned to another page.</li>
					</ul>
				</li>
				<li>The filename may have to respect a naming convention if the variable <code>document_name_regex</code> set by the administrator contains a regular expression.</li>
				<li>A file size limit may apply if the administrator has defined the variable <code>max_document_size</code>.</li>
				<li>The content of the file must match with the file type if the administrator has defined the variable <code>enforce_mime</code>.</li>
				<li>The feature is not available with the obsolete browser Microsoft Internet Explorer.</li>
			</ul>


		<h1 id="help_promote"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Promote to the header line</h1>
		<p>The header line of the project allows a quick access to the pages that link to other thematic pages.</p>
		<p>There is no limitation in the number of header items, but it is recommended to not exceed 10 items.</p>


		<h1 id="help_delete"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Delete a revision</h1>
		<p>A page is not deleted, but a given revision. When all the revisions are deleted, the page is then fully deleted. However, not all the revisions can be deleted because of the required traceability.</p>
		<p>A manager or an editor can delete his/her own drafts. An administrator can delete a revision that is neither final, nor validated.</p>
		<p>A deleted revision may be reallocated later because the numbering is done in a sequential order.</p>


		<h1 id="help_read"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Read a page</h1>
		<p>You must have an account to be able to read the documentation.</p>


		<h1 id="help_export"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Export a page</h1>
		<p>A page is usually read online but you can export it on your desktop in several file formats.</p>

			<h2>html - Web page</h2>
			<p>The export to HTML is a single file that can be opened in your web browser. However, it does not embed the images and the attachments.</p>
			<p>By using the feature "<em>Save as</em>" of your web browser, you can save the page and the loaded pictures, without the attachments.</p>

			<h2>md - Markdown</h2>
			<p>This format is the basic content used by Pwic.</p>
			<p>The file can be edited further with a classical raw text editor, but it needs a dedicated application to be rendered nicely.</p>

			<h2>odt - OpenDocument</h2>
			<p>This file format is public but it is not a DOCX document. The file can be edited in MS Word, LibreOffice and more.</p>
			<p>The export is designed to be as lean as possible, which may cause slight differences of layout.</p>
			<p>The exported document aims to be equivalent to a copy-paste of the page in your favorite text editor.</p>

			<h2>pdf - Desktop PDF</h2>
			<p>This format is not supported by Pwic, so it cannot be disabled in the options.</p>
			<p>By using the feature "<em>Print</em>" of your web browser, select a virtual printer to produce the final PDF file. When doing so, Pwic hides some useless elements of the page.</p>
			<p>On Windows, you can enable the PDF printer by executing the command <code>%windir%\System32\OptionalFeatures.exe</code>.</p>


		<h1 id="help_validate"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Validate a revision</h1>
		<p>Several conditions are required to validate a page:</p>
			<ul>
				<li>You have the role "validator" on the project.</li>
				<li>You have changed your password once.</li>
				<li>The page to validate is marked as "final" by the editor.</li>
			</ul>


		<h1 id="help_export_project"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Export a project</h1>
		<p>The administrators are able to download a project as a ZIP file containing all the pages and attached documents. The purposes are the creation of a backup or the preparation of a migration for example.</p>
		<p>The export is audited and can be disabled by setting the administrative variable <code>no_export_project</code>.</p>


		<h1 id="help_links"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Verify the links</h1>
		<p>Pwic can verify the internal links of the pages to ensure that:</p>
			<ul>
				<li>Each page is linked to another one at least (check for orphans).</li>
				<li>Each page is not linking to a non-existent page (check for broken links).</li>
			</ul>
		<p>The checks apply within a given project. The links to other projects are neither reported as orphan, nor as broken.</p>
		<p>The feature serves as a general monitoring tool for the documentation.</p>


		<h1 id="help_graph"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Graph of the links</h1>
		<p>The directed graph is a visual representation of the links between the pages. It is possible to detect the pages of high importance and the ones that are insufficiently put into the light.</p>
		<p>In case you link to another project, only the targeted pages are displayed. The title of the page is hidden if you don't have access to the project.</p>
		<p>The pages in red correspond to broken links.</p>
		<p>You can download the graph as a file. After you installed GraphViz, you can regenerate the picture with the command: <code>dot -Tsvg input.gv -o output.svg</code>.</p>


		<h1 id="help_search"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Search across the pages</h1>
		<p>The search works with exact literals. If you are looking for the word <code>excellent</code> but the page contains the word <code>exellent</code> (without the <code>c</code>), you won't find any result. Consequently, writing without mistake is a main objective not only for search purposes, but also for the general quality of the documentation.</p>
		<p>The search engine doesn't build an index of words. It means that you are able to search within a word. For example, <code>document</code> will match with both <code>document</code> and <code>documents</code>, but <code>documents</code> will match with itself only. Consequently, you should avoid the plural forms to maximize the number of results. This feature is also very important to be able to search for partial technical keywords if the documentation contains lines of code.</p>
		<p>You can search for individual words, but also for sentences if you use double quotes. For exemple, <code>"my documentation"</code> will not match with <code>my last documentation</code>. However, <code>my documentation</code> would match with it because there is no quote (<code>my</code> and <code>documentation</code> are processed separately).</p>
		<p>You can exclude a term by adding a leading minus sign (<code>-</code>). For example, <code>-interface</code> will exclude all the pages that contain the word <code>interface</code>. You can combine negated terms and they will act as an OR condition. It means that if one of the negated terms is part of the page, then the page is fully excluded. In case you want to search the minus sign explicitly, consider using surrounding quotes (<code>"-interface"</code>).</p>
		<p>The terms that are not negated act as an AND condition. It means that all the terms must appear so that the page can be selected. That's why you should not use the keyword <code>and</code> explicitly. It is not possible to make OR conditions with these terms, so do separate searches instead.</p>
		<p>Some special search terms exist:</p>
			<ul>
				<li><code>term</code> searches in the content of the page, or for the exact page identifier. This is the default behavior seen above.</li>
				<li><code>author:term</code> checks the term against the author of the latest revision.</li>
				<li><code>title:term</code> checks the term in the title of the page.</li>
				<li><code>:draft</code> searches for draft copies.</li>
				<li><code>:final</code> searches for final copies.</li>
				<li><code>:validated</code> checks that the page is validated, whoever is the validator.</li>
				<li><code>validator:term</code> checks the term against the validator of the latest revision. If the term is empty, the check returns a match, so do prefer the keyword <code>:validated</code> in that case.</li>
				<li><code>:document</code> checks that the page has at least one document attached.</li>
				<li><code>#tag</code> checks that the tag is assigned to the page according to your own classification logic.</li>
			</ul>
		<p>At the end, the pages are sorted by the number of occurrences of the search terms. Each term that is not negated contribute to the score as a sum. Because of that, your search terms should be at least 3- or 4-character long.</p>
		<p>The search is case-insensitive.</p>
		<p>Searching in the old revisions is not possible.</p>


		<h1 id="help_searchdoc"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Search across the documents</h1>
		<p>The search applies on the name of the page, the file name and the mime of the file.</p>
		<p>The syntax of the terms is similar to the <a href="#help_search">one used for the pages</a>. You can use inclusive and exclusive keywords, but not the special ones that contain <code>:</code>.</p>
		<p>It is not possible to search within the content of the files.</p>


		<h1 id="help_log"><a href="#help_top">{{pwic.emojis.finger_up}}</a> View the activity log</h1>
		<p>Pwic logs many activities to enforce the traceability of the documentation. In case of troubles, it is possible to unwind the events and have a better overview of the situation.</p>
		<p>Online, the administrator of a project can see the events related to the project only, like the creation of a page, a deletion, a validation...</p>
		<p>At system level, it is possible to display all the events, including the ones not related to a dedicated project. The listing can be filtered out like this: <code>python pwic_admin.py show-log 365 | grep grant</code> would return all the modifications of the users' rights over the last year.</p>


		<h1 id="help_log_user"><a href="#help_top">{{pwic.emojis.finger_up}}</a> View the activity of a user</h1>
		<p>The user page contains a public overview of the recently modified pages (over the last 30 days) and the uploaded documents.</p>
		<p>Your own user page is mentionned in the footer.</p>


		<h1 id="help_automate"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Automate Pwic</h1>
		<p>The web interface communicates with Pwic through an application programming interface (API) whose specifications are <a href="/api">available online</a>.</p>
		<p>You can develop external robots in the limit of your permitted authorizations. A simple example is <a href="/static/api-example.py">available here</a>.</p>


		<h1 id="help_licenses"><a href="#help_top">{{pwic.emojis.finger_up}}</a> Read the licenses</h1>
		<p>Pwic relies on several external resources whose licenses are summarized in the following table:</p>
		<table>
			<tr>
				<th>Name</th>
				<th>Tested version</th>
				<th class="pwic_desktop">Type</th>
				<th>License</th>
			</tr>
			<tr>
				<td><a href="https://github.com/aio-libs/aiohttp">aiohttp</a></td>
				<td>3.7.2</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/aio-libs/aiohttp/master/LICENSE.txt">Apache 2.0 License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/aio-libs/aiohttp-cors">aiohttp-cors</a></td>
				<td>0.7.0</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/aio-libs/aiohttp/master/LICENSE.txt">Apache 2.0 License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/aio-libs/aiohttp-session">aiohttp-session</a></td>
				<td>2.9.0</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/aio-libs/aiohttp/master/LICENSE.txt">Apache 2.0 License</a></td>
			</tr>
			<tr>
				<td><a href="https://fonts.google.com/specimen/Baloo+2">Baloo 2</a></td>
				<td>-</td>
				<td class="pwic_desktop">Font</td>
				<td><a href="https://raw.githubusercontent.com/EkType/Baloo2/master/Copyright.txt">Open Font License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/fabiospampinato/cash">cash.js</a></td>
				<td>8.1.0</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/fabiospampinato/cash/master/LICENSE.md">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/Ionaru/easy-markdown-editor">EasyMDE</a></td>
				<td>2.12.1 (modified, >=2.12)</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/Ionaru/easy-markdown-editor/master/LICENSE">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://www.flaticon.com/free-icon/verify_2910756">Favorite icon</a></td>
				<td>-</td>
				<td class="pwic_desktop">Picture</td>
				<td><a href="https://www.flaticon.com/free-icon/verify_2910756">by Pixel Perfect</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/FortAwesome/Font-Awesome">FontAwesome</a></td>
				<td>5</td>
				<td class="pwic_desktop">Font</td>
				<td><a href="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/LICENSE.txt">SIL OFL 1.1</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/FortAwesome/Font-Awesome">FontAwesome</a></td>
				<td>5</td>
				<td class="pwic_desktop">Cascading style sheets (CSS)</td>
				<td><a href="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/LICENSE.txt">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/shibukawa/imagesize_py">ImageSize</a></td>
				<td>1.2.0</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/shibukawa/imagesize_py/master/LICENSE.rst">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/pallets/jinja">Jinja2</a></td>
				<td>2.11.2</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/pallets/jinja/master/LICENSE.rst">BSD-3-Clause License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/trentm/python-markdown2">Markdown2</a></td>
				<td>2.3.10 (modified, >=2.3.10)</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/trentm/python-markdown2/master/LICENSE.txt">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/mathjax/MathJax-src">MathJax</a></td>
				<td>3.1.2</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/mathjax/MathJax-src/master/LICENSE">Apache 2.0 License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/erikrose/parsimonious">Parsimonious</a></td>
				<td>0.8.1</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/erikrose/parsimonious/master/README.rst">MIT License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/jazzband/prettytable">PrettyTable</a></td>
				<td>1.0.1</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/jazzband/prettytable/master/COPYING">BSD License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/pygments/pygments">pygments</a></td>
				<td>2.7.1</td>
				<td class="pwic_desktop">Library for Python</td>
				<td><a href="https://raw.githubusercontent.com/pygments/pygments/master/README.rst">BSD-2-Clause License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/python/cpython/">Python</a></td>
				<td>3.8.6</td>
				<td class="pwic_desktop">Programming language</td>
				<td><a href="https://raw.githubusercontent.com/python/cpython/master/LICENSE">Python Software Foundation License</a></td>
			</tr>
			<tr>
				<td><a href="https://www.sqlite.org">SQLite</a></td>
				<td>3</td>
				<td class="pwic_desktop">Database engine</td>
				<td><a href="https://raw.githubusercontent.com/sqlite/sqlite/master/LICENSE.md">Public domain</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/ariutta/svg-pan-zoom">SVG pan &amp; zoom</a></td>
				<td>3.5.1</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/ariutta/svg-pan-zoom/master/LICENSE">BSD-2-Clause License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/swagger-api/swagger-ui">Swagger UI</a></td>
				<td>3.14.1</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/swagger-api/swagger-ui/master/LICENSE">Apache 2.0 License</a></td>
			</tr>
			<tr>
				<td><a href="https://github.com/mdaines/viz.js">Viz.js</a></td>
				<td>1.7.1</td>
				<td class="pwic_desktop">Library for JavaScript</td>
				<td><a href="https://raw.githubusercontent.com/mdaines/viz.js/master/LICENSE">MIT License</a></td>
			</tr>
		</table>
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
