{% extends 'main.html' %}


{% block content %}
	<header>
		<h1><a href="/">Create a new page</a></h1>
	</header>

	{% include 'page-create.js.html' %}

	<article>
		{% if pwic.projects|count == 0 %}

			<p class="pwic_error">{{pwic.emojis.padlock}} You have no authorization to create a new page. Please contact your manager.</p>

		{% else %}

			<form id="create_form" action="/api/page/create" method="post">
				<h2>New page</h2>
				<p><strong>Project:</strong><br/>
					<select id="create_project" name="create_project">
						{% for proj in pwic.projects %}
						<option value="{{proj.project|escape}}">{{proj.description|escape}} ({{proj.project|escape}})</option>
						{% endfor %}
					</select>
				</p>
				<p><strong>Page name:</strong> <input id="create_page" class="pwic_fill" type="text" name="create_page" /></p>
				<p><strong>Milestone:</strong> <input class="pwic_fill" type="text" name="create_milestone" /></p>

				<h2>Copy in reference to another page</h2>
				<p><strong>Project:</strong><br/>
					<select name="create_ref_project">
						<option value=""></option>
						{% for p in pwic.projects %}
						<option value="{{p.project|escape}}">{{p.description|escape}}</option>
						{% endfor %}
					</select>
				</p>
				<p><strong>Page:</strong> <input class="pwic_fill" type="text" name="create_ref_page" /></p>

				<p><input type="button" value="{{pwic.emojis.sheet}} Create the page" onclick="create_submit('The names are not acceptable.')" /></p>
			</form>

		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
