{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1">
			<a href="/{% if pwic.page != 'home' %}{{pwic.project|urlencode}}{% endif %}">{{pwic.project_description|escape}}</a>
		</div>
		<div class="pwic_tagbox">
			{% for link in pwic.links %}
				<a href="/{{link.project|urlencode}}/{{link.page|urlencode}}">{{link.title|escape}}</a>
			{% endfor %}
			<div class="pwic_searchbox">
				{{pwic.emojis.search}}
				<input type="text" id="page_search" onkeypress="page_search()" />
			</div>
		</div>
	</header>

	{% if pwic.env.no_text_selection %}
		{% include 'page-special-nosel.js.html' %}
	{% endif %}
	{% include 'page.js.html' %}
	{% include 'search.js.html' %}

	<article>
		<div id="pwic_progress"></div>

		{% if pwic.env.maintenance %}
			<p class="pwic_error">{{pwic.emojis.calendar}} {{pwic.env.maintenance.value|escape}}</p>
		{% endif %}

		<p class="pwic_action_bar">
			{% if pwic.protection %}
				<span title="The page is protected">{{pwic.emojis.padlock}}</span>
			{% endif %}
			{% if pwic.page == 'home' %}
				<a href="/{{pwic.project|urlencode}}/special">{{pwic.emojis.star}} Special</a>
			{% endif %}
			{% if pwic.manager %}
				<a href="/special/create-page?project={{pwic.project|urlencode}}">{{pwic.emojis.sheet}} Create a page</a>
			{% endif %}
			{% if pwic.latest and (pwic.manager or (pwic.editor and not pwic.protection)) %}
				<a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/edit">{{pwic.emojis.set_square}} Edit</a>
			{% endif %}
			<a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/history">{{pwic.emojis.scroll}} History</a>

			<a href="#" onclick="page_email()">{{pwic.emojis.outbox}} Email</a>
			{% if not pwic.env.no_printing %}
				<a href="#" onclick="page_print()">{{pwic.emojis.printer}} Print</a>
			{% endif %}

			{% set formats = pwic.env.get('disabled_formats', {'value': ''}).value.split(' ') %}
			{% if '*' not in formats %}
				{% if 'md' not in formats %}
					<a href="#" onclick="return page_export('md')">{{pwic.emojis.hammer}} Raw</a>
				{% endif %}
				{% if 'odt' not in formats %}
					<a href="#" onclick="return page_export('odt')">{{pwic.emojis.memo}} Desktop</a>
				{% endif %}
			{% endif %}

			{% if pwic.validator and (pwic.valuser == '') and pwic.final %}
				<a href="#" onclick="return page_post_action('validate', 'The validation cannot be undone.\n\nDo you want to continue ?', 'Function not available.')">{{pwic.emojis.validate}} Validate</a>
			{% endif %}
			{% if pwic.removable %}
				<a href="#" onclick="return page_post_action('delete', 'WARNING: deleting the revision cannot be undone.\n\nDo you want to continue ?', 'Function not available.')">{{pwic.emojis.recycle}} Delete</a>
			{% endif %}
		</p>

		{% if not pwic.latest %}
			<p class="pwic_warning">{{pwic.emojis.eye}} You are viewing the <strong>revision {{pwic.revision}}</strong>, unless you prefer the <a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}">latest version</a>.</p>
		{% endif %}

		{% if pwic.valuser != '' %}
			<p class="pwic_information">{{pwic.emojis.flag}} This page has been validated by <a href="/special/user/{{pwic.valuser|urlencode}}">{{pwic.valuser|escape}}</a> on {{pwic.valdate|urlencode}} at {{pwic.valtime|escape}}.</p>
		{% endif %}

		{% if pwic.tmap|count > 0 %}
			<div id="pwic_browser_access" title="Show/Hide the map of the article" onclick="page_tmap()">
				{{pwic.emojis.pin}}
			</div>
			<div id="pwic_browser" class="pwic_hidden">
				{% for tmap in pwic.tmap %}
				<a class="pwic_browser_item pwic_browser_item_h{{tmap.level}}" href="#p{{tmap.header|urlencode}}" onclick="page_tmap()">{{tmap.header|escape}} {{tmap.title|escape}}</a>
				{% endfor %}

				{% if (pwic.documents|count > 0) or (pwic.images|count > 0) %}
				<a class="pwic_browser_item pwic_browser_item_h1" href="#page_documents" onclick="page_tmap()">{{pwic.emojis.scroll}} Attached documents</a>
				{% endif %}
			</div>
		{% endif %}

		{% if pwic.tags|count > 0 %}
			<div class="pwic_tagbox">
				{% for tag in pwic.tags %}
					<a href="/{{pwic.project|urlencode}}/special/search?q=%23{{tag|urlencode}}" title="Search for related classified pages">#{{tag|escape}}</a>
				{% endfor %}
			</div>
		{% endif %}

		{{pwic.html}}

		{% if (pwic.images|count > 0) or (pwic.documents|count > 0) %}
			<h1 id="page_documents">Attached documents</h1>

			{% if pwic.documents|count > 0 %}
				<div class="pwic_file_gallery">
					{% for doc in pwic.documents %}
						<a href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}" title="Uploaded by {{doc.author|escape}} on {{doc.date|escape}} at {{doc.time|escape}}">
							<span>{{doc.filename|escape}}</span>
							<br/><small>{{doc.mime|escape}}</small> ({{doc.size|escape}})
						</a>
					{% endfor %}
				</div>
			{% endif %}

			{% if pwic.images|count > 0 %}
				<div class="pwic_file_gallery">
					{% for doc in pwic.images %}
						<a href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}" title="Uploaded by {{doc.author|escape}} on {{doc.date|escape}} at {{doc.time|escape}}">
							<span>{{doc.filename|escape}}</span>
							<br/><small>{{doc.mime|escape}}</small> ({{doc.size|escape}})
						</a>
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}

		<p id="page_lastmod">
			Last modified by <a href="/special/user/{{pwic.author|urlencode}}">{{pwic.author|escape}}</a> on {{pwic.date}} at {{pwic.time}}
			<br/>Hash: <span title="{{pwic.hash|escape}}">{{pwic.hash[:16]}}</span>
		</p>

		{% if pwic.env.legal_notice %}
			<p id="page_legal_notice">
				{% if pwic.env.safe_mode %}
					{{pwic.env.legal_notice.value|escape|replace('\n','<br/>')}}
				{% else %}
					{{pwic.env.legal_notice.value}}
				{% endif %}
			</p>
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
