{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1">
			<a href="/{% if pwic.page != 'home' %}{{pwic.project|urlencode}}{% endif %}">{{pwic.project_description|escape}}</a>
		</div>
		<div class="pwic_tagbox">
			{% for link in pwic.links %}
				<a href="/{{link.project|urlencode}}/{{link.page|urlencode}}">{{link.title|escape}}</a>
			{% endfor %}
			<div class="pwic_searchbox">
				{{pwic.emojis.search}}
				<input type="text" id="page_search" onkeypress="page_search()" />
			</div>
		</div>
	</header>

	{% if pwic.env.no_text_selection %}
		{% include 'page-nosel.js.html' %}
	{% endif %}
	{% include 'page.js.html' %}
	{% include 'search.js.html' %}

	<article>
		<div id="pwic_progression"></div>

		{% if pwic.env.maintenance %}
			<p class="pwic_error">{{pwic.emojis.calendar}} {{pwic.env.maintenance.value|escape}}</p>
		{% endif %}

		<p class="pwic_action_bar">
			{% if pwic.protection %}
				<span title="The page is protected">{{pwic.emojis.padlock}}</span>
			{% endif %}
			{% if pwic.page == 'home' %}
				<a href="/{{pwic.project|urlencode}}/special">{{pwic.emojis.star}} Special</a>
			{% endif %}
			{% if pwic.admin and pwic.special %}
				<a href="/special/create-user?project={{pwic.project|urlencode}}">{{pwic.emojis.users}} Create a user</a>
				<a href="/{{pwic.project|urlencode}}/special/roles">{{pwic.emojis.key}} Authorizations</a>
			{% endif %}
			{% if pwic.manager %}
				<a href="/special/create-page?project={{pwic.project|urlencode}}">{{pwic.emojis.sheet}} Create a page</a>
			{% endif %}
			{% if not pwic.special %}
				{% if pwic.latest and (pwic.manager or (pwic.editor and not pwic.protection)) %}
					<a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/edit">{{pwic.emojis.set_square}} Edit</a>
				{% endif %}
				<a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/history">{{pwic.emojis.scroll}} History</a>

				{% set formats = pwic.env.get('disabled_formats', {'value': ''}).value.split(' ') %}
				{% if '*' not in formats %}
					{% if 'md' not in formats %}
						<a href="#" onclick="return page_export('md')">{{pwic.emojis.hammer}} MarkDown</a>
					{% endif %}
					{% if 'odt' not in formats %}
						<a href="#" onclick="return page_export('odt')">{{pwic.emojis.memo}} OpenDocument</a>
					{% endif %}
				{% endif %}

				{% if pwic.validator and (pwic.valuser == '') and pwic.final %}
					<a href="#" onclick="return page_post_action('validate', 'The validation cannot be undone.\n\nDo you want to continue ?', 'Function not available.')">{{pwic.emojis.validate}} Validate</a>
				{% endif %}
			{% endif %}
			{% if pwic.manager and pwic.special %}
				<a href="/{{pwic.project|urlencode}}/special/links">{{pwic.emojis.chains}} Verify the links</a>
				<a href="/{{pwic.project|urlencode}}/special/graph">{{pwic.emojis.globe}} Graph</a>
			{% endif %}
			{% if pwic.removable %}
				<a href="#" onclick="return page_post_action('delete', 'WARNING: deleting the revision cannot be undone.\n\nDo you want to continue ?', 'Function not available.')">{{pwic.emojis.recycle}} Delete</a>
			{% endif %}
			{% if pwic.admin and pwic.special %}
				<a href="/{{pwic.project|urlencode}}/special/export">{{pwic.emojis.clamp}} Export</a>
			{% endif %}
		</p>

		{% if pwic.special %}
			{% if pwic.recents|count > 0 %}
				<h1>Recent updates</h1>
				<table>
					<tr>
						<th>Date</th>
						<th class="pwic_desktop">Time</th>
						<th>Page</th>
						<th class="pwic_desktop">Author</th>
						<th>Comment</th>
						<th class="pwic_desktop">Milestone</th>
					</tr>

					{% for recent in pwic.recents %}
						<tr>
							<td>{{recent.date}}</td>
							<td class="pwic_desktop">{{recent.time}}</td>
							<td><a href="/{{pwic.project|urlencode}}/{{recent.page|urlencode}}">{{recent.title|escape}}</a></td>
							<td class="pwic_desktop"><a href="/special/user/{{recent.author|urlencode}}">{{recent.author|escape}}</a></td>
							<td>{{recent.comment|escape}}</td>
							<td class="pwic_desktop">{{recent.milestone|escape}}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}


			<h1>Team members</h1>
			<p>By active profile:</p>
			<ul>
				{% if pwic.admins|count > 0 %}
					<li><strong>Administrators:</strong>
						{% for admin in pwic.admins %}
						<a href="/special/user/{{admin|urlencode}}">{{admin|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.managers|count > 0 %}
					<li><strong>Managers:</strong>
						{% for manager in pwic.managers %}
						<a href="/special/user/{{manager|urlencode}}">{{manager|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.editors|count > 0 %}
					<li><strong>Editors:</strong>
						{% for editor in pwic.editors %}
						<a href="/special/user/{{editor|urlencode}}">{{editor|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.validators|count > 0 %}
					<li><strong>Validators:</strong>
						{% for validator in pwic.validators %}
						<a href="/special/user/{{validator|urlencode}}">{{validator|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.readers|count > 0 %}
					<li><strong>Readers:</strong>
						{% for reader in pwic.readers %}
						<a href="/special/user/{{reader|urlencode}}">{{reader|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
			</ul>
			{% if pwic.disabled_users|count > 0 or pwic.inactive_users|count > 0 %}
				<p>By status:</p>
				<ul>
					{% if pwic.disabled_users|count > 0 %}
						<li><strong>Disabled users:</strong>
							{% for user in pwic.disabled_users %}
							<a href="/special/user/{{user|urlencode}}">{{user|escape}}</a>
							{% endfor %}
						</li>
					{% endif %}
					{% if pwic.inactive_users|count > 0 %}
						<li><strong>Inactive users:</strong>
							{% for user in pwic.inactive_users %}
							<a href="/special/user/{{user|urlencode}}">{{user|escape}}</a>
							{% endfor %}
						</li>
					{% endif %}
				</ul>
			{% endif %}


			{% if (pwic.pages|count > 0) and (pwic.user != pwic.constants.anonymous_user) %}
				<h1>All the pages of the project</h1>
				<table>
					<tr>
						<th>Page</th>
						<th>Title</th>
						<th class="pwic_desktop">Revision</th>
						<th>Flags</th>
						<th>Author</th>
						<th class="pwic_desktop">Date</th>
						<th class="pwic_desktop">Time</th>
						<th class="pwic_desktop">Milestone</th>
					</tr>
				{% for page in pwic.pages %}
					<tr>
						<td>{{page.page|escape}}</td>
						<td><a href="/{{pwic.project|urlencode}}/{{page.page|urlencode}}">{{page.title|escape}}</a></td>
						<td class="pwic_desktop">{{page.revision|escape}}</td>
						<td>
							{% if page.draft %}
							<span title="Draft">{{pwic.emojis.hourglass}}</span>
							{% endif %}
							{% if page.final %}
							<span title="Marked as final">{{pwic.emojis.notes}}</span>
							{% endif %}
							{% if page.valuser != '' %}
							<span title="Validated by {{page.valuser|escape}} on {{page.valdate|escape}} at {{page.valtime|escape}}">{{pwic.emojis.flag}}</span>
							{% endif %}
						</td>
						<td><a href="/special/user/{{page.author|urlencode}}">{{page.author|escape}}</a></td>
						<td class="pwic_desktop">{{page.date|escape}}</td>
						<td class="pwic_desktop">{{page.time|escape}}</td>
						<td class="pwic_desktop">{{page.milestone|escape}}</td>
					</tr>
				{% endfor %}
				</table>
			{% endif %}


			{% if (pwic.documents|count > 0) and (pwic.user != pwic.constants.anonymous_user) %}
				<h1>All the documents of the project</h1>
				<p class="pwic_center"><strong>Disk usage :</strong>
					{% if pwic.disk_space.project_max <= 0 %}
						<em>Unrestricted by the administrator</em>
					{% else %}
						<span class="pwic_progressbar">
							<span style="width:{{pwic.disk_space.percentage}}%"></span>
						</span>
						<span class="pwic_nowrap">{{pwic.disk_space.used_str}} / {{pwic.disk_space.project_max_str}} ({{pwic.disk_space.percentage}} %)</span>
					{% endif %}
				</p>

				<table>
					<tr>
						<th class="pwic_desktop">Page</th>
						<th>File name</th>
						<th class="pwic_desktop">MIME</th>
						<th>Size</th>
						<th class="pwic_desktop">Hash</th>
						<th>Author</th>
						<th class="pwic_desktop">Date</th>
						<th class="pwic_desktop">Time</th>
						<th><span class="pwic_desktop">Download</span></th>
					</tr>
					{% for doc in pwic.documents %}
						<tr>
							<td class="pwic_desktop"><a href="/{{doc.project|urlencode}}/{{doc.page|urlencode}}">{{doc.page|escape}}</a></td>
							<td><a href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}">{{doc.filename|escape}}</a></td>
							<td class="pwic_desktop">{{doc.mime_icon}} {{doc.mime|escape}}</td>
							<td>{{doc.size|escape}}</td>
							<td class="pwic_desktop">
								<span title="{{doc.hash|escape}}">{{doc.hash[:8]|escape}}</span>
								{% if doc.occurrence > 1 %}
									<span title="Duplicate file">{{pwic.emojis.gemini}}</span>
								{% endif %}
							</td>
							<td><a href="/special/user/{{doc.author|urlencode}}">{{doc.author|escape}}</a></td>
							<td class="pwic_desktop">{{doc.date|escape}}</td>
							<td class="pwic_desktop">{{doc.time|escape}}</td>
							<td><a href="/special/document/{{doc.id|urlencode}}?attachment">{{pwic.emojis.inbox}}</a></td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}


			{% if pwic.admin %}
				<h1 id="special_env">Environment variables</h1>
				<table>
					<tr>
						<th><a href="/special/help#help_setup">Key</a></th>
						<th>Scope</th>
						<th>Value</th>
					</tr>

					{% for key in pwic.env %}
						<tr>
							<td>{{key|escape}}</td>
							<td>
								{% if pwic.env[key].global %}
									<span title="Global">{{pwic.emojis.globe}}</span>
								{% else %}
									<span title="Project-dependent">{{pwic.emojis.hammer}}</span>
								{% endif %}
							</td>
							<td>{{pwic.env[key].value|escape}}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}


			{% if pwic.audits|count > 0 %}
				<h1 id="special_audit">Audit of the last 30 days</h1>
				<table>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th>Author</th>
						<th>Event</th>
						<th class="pwic_desktop">Project</th>
						<th>Page</th>
						<th class="pwic_desktop">Revision</th>
						<th class="pwic_desktop">String</th>
					</tr>

					{% for audit in pwic.audits %}
						<tr>
							<td>{{audit.date|escape}}</td>
							<td>{{audit.time|escape}}</td>
							<td><a href="/special/user/{{audit.author|urlencode}}">{{audit.author|escape}}</a></td>
							<td>{{audit.event|escape}}</td>
							<td class="pwic_desktop">
								{% if audit.project != '' %}
									<a href="/{{audit.project|urlencode}}">{{audit.project|escape}}</a>
								{% endif %}
							</td>
							<td>
								{% if audit.page != '' %}
									<a href="/{{audit.project|urlencode}}/{{audit.page|urlencode}}">{{audit.page|escape}}</a>
								{% endif %}
							</td>
							<td class="pwic_desktop">
								{% if audit.revision > 0 %}
									<a href="/{{audit.project|urlencode}}/{{audit.page|urlencode}}/rev{{audit.revision|urlencode}}">{{audit.revision|escape}}</a>
								{% endif %}
							</td>
							<td class="pwic_desktop">
								{% if audit.string != '' %}
									{{audit.string|escape}}
								{% elif audit.user != '' %}
									<a href="/special/user/{{audit.user|urlencode}}">{{audit.user|escape}}</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}

		{% else %}

			{% if not pwic.latest %}
			<p class="pwic_warning">{{pwic.emojis.eye}} You are viewing the <strong>revision {{pwic.revision}}</strong>, unless you prefer the <a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}">latest version</a>.</p>
			{% endif %}

			{% if pwic.valuser != '' %}
			<p class="pwic_information">{{pwic.emojis.flag}} This page has been validated by <a href="/special/user/{{pwic.valuser|urlencode}}">{{pwic.valuser|escape}}</a> on {{pwic.valdate|urlencode}} at {{pwic.valtime|escape}}.</p>
			{% endif %}

			{% if pwic.tmap|count > 0 %}
				<div id="pwic_browser_access" title="Show/Hide the map of the article" onclick="page_tmap()">
					{{pwic.emojis.pin}}
				</div>
				<div id="pwic_browser" class="pwic_hidden">
					{% for tmap in pwic.tmap %}
					<a class="pwic_browser_item pwic_browser_item_h{{tmap.level}}" href="#p{{tmap.header|urlencode}}" onclick="page_tmap()">{{tmap.header|escape}} {{tmap.title|escape}}</a>
					{% endfor %}

					{% if (pwic.documents|count > 0) or (pwic.images|count > 0) %}
					<a class="pwic_browser_item pwic_browser_item_h1" href="#page_documents" onclick="page_tmap()">{{pwic.emojis.scroll}} Attached documents</a>
					{% endif %}
				</div>
			{% endif %}

			{% if pwic.tags|count > 0 %}
				<div class="pwic_tagbox">
					{% for tag in pwic.tags %}
						<a href="/{{pwic.project|urlencode}}/special/search?q=%23{{tag|urlencode}}" title="Search for related classified pages">#{{tag|escape}}</a>
					{% endfor %}
				</div>
			{% endif %}

			{{pwic.html}}

			{% if (pwic.images|count > 0) or (pwic.documents|count > 0) %}
				<h1 id="page_documents">Attached documents</h1>

				{% if pwic.documents|count > 0 %}
					<div class="pwic_file_gallery">
						{% for doc in pwic.documents %}
							<a href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}" title="Uploaded by {{doc.author|escape}} on {{doc.date|escape}} at {{doc.time|escape}}">
								<span>{{doc.filename|escape}}</span>
								<br/><small>{{doc.mime|escape}}</small> ({{doc.size|escape}})
							</a>
						{% endfor %}
					</div>
				{% endif %}

				{% if pwic.images|count > 0 %}
					<div class="pwic_file_gallery">
						{% for doc in pwic.images %}
							<a href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}" title="Uploaded by {{doc.author|escape}} on {{doc.date|escape}} at {{doc.time|escape}}">
								<span>{{doc.filename|escape}}</span>
								<br/><small>{{doc.mime|escape}}</small> ({{doc.size|escape}})
							</a>
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}

			<p id="page_lastmod">
				Last modified by <a href="/special/user/{{pwic.author|urlencode}}">{{pwic.author|escape}}</a> on {{pwic.date}} at {{pwic.time}}
				<br/>Hash: <span title="{{pwic.hash|escape}}">{{pwic.hash[:16]}}</span>
			</p>
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
