{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}/special">{{pwic.emojis.finger_left}} Verification of the links</a></div>
		<div class="pwic_ph2">[{{pwic.project|escape}}] {{pwic.project_description|escape}}</div>
	</header>

	<article>
		<h1>Orphaned pages</h1>
		{% if pwic.orphans|count == 0 %}
			<p>You have no orphaned page.</p>
		{% else %}
			<p>These pages cannot be reached by simple clicks but are still referenced by the search engine.</p>
			<ul>
				{% for page in pwic.orphans %}
				<li><a href="/{{pwic.project|urlencode}}/{{page|urlencode}}">{{page|escape}}</a></li>
				{% endfor %}
			</ul>
		{% endif %}


		<h1>Broken links to a page</h1>
		{% if pwic.broken|count == 0 %}
			<p>You have no broken link to a page among the project <code>{{pwic.project|escape}}</code>.</p>
		{% else %}
			<p>A broken link displays the error 404 because the targeted page does not exist.</p>
			<p>Note that the following table does not check the links to the other projects.</p>
			<table class="pwic_fit">
				<tr>
					<th>Page</th>
					<th>Non-existent page</th>
				</tr>
				{% for page in pwic.broken %}
					<tr>
						<td><a href="/{{pwic.project|urlencode}}/{{page.source|urlencode}}">{{page.source|escape}}</a></td>
						<td>{{page.destination|escape}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}


		<h1>Broken links to a document</h1>
		{% if pwic.broken_docs|count == 0 %}
			<p>You have no broken link to a document.</p>
		{% else %}
			<p>Managing the files without updating the pages may result in invalid links.</p>
			<table class="pwic_fit">
				<tr>
					<th>Page</th>
					<th>Non-existent document</th>
				</tr>
				{% for page in pwic.broken_docs %}
					<tr>
						<td><a href="/{{pwic.project|urlencode}}/{{page|urlencode}}">{{page|escape}}</a></td>
						<td>{{pwic.broken_docs[page]|sort|join(', ')|escape}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}

	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
