{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}">{{pwic.emojis.finger_left}} Edit the page</a></div>
	</header>

	<article>
		<h1>[{{pwic.page|escape}}] {{pwic.title|escape}}</h1>

		{% if not pwic.manager and (pwic.protection or not pwic.editor)  %}
			<p class="pwic_error">{{pwic.emojis.padlock}} You are not authorized to edit the page.</p>
		{% else %}
			<form id="edit_form" action="/api/page/edit" method="post">
				<p><strong><span class="pwic_red">*</span> Title:</strong> <input id="edit_title" class="pwic_fill" type="text" value="{{pwic.title|escape}}" /></p>

				<p><strong>Tags:</strong> <input id="edit_tags" class="pwic_fill" type="text" value="{{pwic.tags|escape}}" title="No hash and separated by a space" spellcheck="false" /></p>

				<div id="edit_toolbar" {% if pwic.env.mde %} class="pwic_hidden" {% endif %}>
					<input type="button" value="B" title="** Bold **" style="font-weight: bold" onclick="edit_decorate('**')" />
					<input type="button" value="I" title="* Italic *" style="font-style: italic" onclick="edit_decorate('*')" />
					<input type="button" value="U" title="-- Underline --" style="text-decoration: underline" onclick="edit_decorate('--')" />
					<input type="button" value="S" title="~~ Strikethrough ~~" style="text-decoration: line-through" onclick="edit_decorate('~~')" />
					<input type="button" value="{{pwic.emojis.chains}}" title="[Link](url)" onclick="edit_link('Paste the link:')" />
					<input type="button" value="Right" title="Shift to the right" onclick="edit_prepend('    ')" />

					<div class="pwic_spacer"></div>

					<input type="button" value="H1" title="# Title 1" onclick="edit_prepend('# ')" />
					<input type="button" value="H2" title="## Title 2" onclick="edit_prepend('## ')" />
					<input type="button" value="H3" title="### Title 3" onclick="edit_prepend('### ')" />
					<input type="button" value="H4" title="#### Title 4" onclick="edit_prepend('#### ')" />
					<input type="button" value="H5" title="##### Title 5" onclick="edit_prepend('##### ')" />
					<input type="button" value="H6" title="###### Title 6" onclick="edit_prepend('###### ')" />
					<input type="button" value="Footnote" title="[^1] Footnote" onclick="edit_footnote()" />

					<div class="pwic_spacer"></div>

					<input type="button" value="Table" title="Table | Table" onclick="edit_table('Number of columns', 'Number of rows')" />
					<input type="button" value="List" title="- List" onclick="edit_prepend('- ')" />
					<input type="button" value="Quote" title="> Quote" onclick="edit_prepend('> ')" />
					<input type="button" value="Keyword" title="`Keyword`" onclick="edit_decorate('`')" />
					<input type="button" value="Code" title="```Code```" onclick="edit_decorate2('```\n', '\n```')" />
				</div>

				<textarea id="edit_markdown">{{pwic.markdown|escape}}</textarea>

				{% if pwic.env.mde %}
					{% include 'page-edit-easymde.js.html' %}
				{% endif %}

				{% if (not pwic.env.max_document_size) or (pwic.env.max_document_size.value|int > 0) %}
					<h2>Documents</h2>
					<div id="edit_files_drop" ondrop="edit_drop(event, 'Unsupported feature', 'The file is uploaded and usable in the list below.')" ondragover="edit_dragover(event)" ondragleave="edit_dragleave(event)">
						<input type="button" value="{{pwic.emojis.refresh}}" title="Refresh" onclick="edit_refresh_documents()" style="margin-right: 15px" />
						Drop the files here
						{% if pwic.env.max_document_size_str %}
							(max: {{pwic.env.max_document_size_str.value}})
						{% endif %}
						and save immediately
					</div>
					<table id="edit_files_list">
						<tr>
							<th>Join</th>
							<th>File name</th>
							<th class="pwic_desktop" title="The comparison applies on the latest saved revision only">Used</th>
							<th>Size</th>
							<th class="pwic_desktop">MIME</th>
							<th class="pwic_desktop">Author</th>
							<th>Date</th>
							<th class="pwic_desktop">Time</th>
							<th>Delete</th>
						</tr>
					</table>
				{% endif %}

				<h2>Attributes</h2>
				<p><strong><span class="pwic_red">*</span> Reason for the modification:</strong> <input id="edit_comment" class="pwic_fill" type="text" placeholder="{{pwic.comment|escape}}" /></p>
				<p><strong>Milestone:</strong> <input id="edit_milestone" class="pwic_fill" type="text" value="{{pwic.milestone|escape}}" title="Free text to report the expected readiness of the page" /></p>
				<p>
					<input id="edit_draft" type="checkbox" {% if pwic.draft %}checked="checked"{% endif %} onclick="$('#edit_final').prop('checked', false)" /> <label for="edit_draft">Save as draft</label>
					<br/><input id="edit_final" type="checkbox" onclick="$('#edit_draft').prop('checked', false)" /> <label for="edit_final">Final version</label>
					<br/><input id="edit_header" type="checkbox" {% if pwic.header %}checked="checked"{% endif %} {% if not pwic.manager %}disabled="disabled"{% endif %} /> <label for="edit_header">Header line *</label>
					<br/><input id="edit_protection" type="checkbox" {% if pwic.protection %}checked="checked"{% endif %} {% if not pwic.manager %}disabled="disabled"{% endif %} /> <label for="edit_protection">Protected page *</label>
				</p>
				<p>
					<input id="edit_submit" type="button" value="{{pwic.emojis.save}} Save the modifications" onclick="edit_submit_form('The server or your Internet connection is down.', 'Some fields are mandatory.', 'Your session is not valid anymore. Please reconnect from another tab and retry.', 'Warning: the page has been modified in parallel of your current modifications.\n\nConsequently, your changes will be posted as a removable draft. You must merge the changes manually later.')" />
					<input id="edit_preview" type="button" value="{{pwic.emojis.glasses}} Preview" onclick="edit_preview_md('Preview of &quot;{{pwic.page|urlencode}}&quot;', 'Close the preview')" />
				</p>
			</form>

			{% include 'page-edit.js.html' %}
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
