{% extends 'main.html' %}


{% block title %}Graph of the project{% endblock %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}/special">{{pwic.emojis.finger_left}} Visual representation of the pages</a></div>
		<div class="pwic_ph2">[{{pwic.project|escape}}] {{pwic.project_description|escape}}</div>
	</header>

	<article>
		<p><input type="button" value="{{pwic.emojis.inbox}} Download as a file" onclick="graph_get_data('download')"></p>
		<div id="graph_viz"></div>

		{% include "page-graph.js.html" %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
