{% extends 'main.html' %}


{% block content %}
	<header>
		<h1><a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}">Edit the page</a></h1>
	</header>

	<article>
		<h1>{{pwic.page|escape}} / {{pwic.page_title|escape}}</h1>

		{% if not pwic.manager and (pwic.protection or not pwic.editor)  %}
			<p class="pwic_error">{{pwic.emojis.padlock}} You are not authorized to edit the page.</p>
		{% else %}
			<form id="edit_form" action="/api/page/update" method="post">
				<p><input id="edit_title" name="edit_title" class="pwic_fill" type="text" value="{{pwic.title|escape}}" /></p>

				<div id="edit_toolbar">
					<input type="button" value="B" title="** Bold **" style="font-weight: bold" onclick="edit_decorate('**')" />
					<input type="button" value="I" title="* Italic *" style="font-style: italic" onclick="edit_decorate('*')" :>
					<input type="button" value="S" title="~~ Stroke out ~~" style="text-decoration: line-through" onclick="edit_decorate('~~')" />
					<input type="button" value="{{pwic.emojis.chains}}" title="[Link](url)" onclick="edit_link('Type the link:')" />
					<input type="button" value="Right" title="Shift to right" onclick="edit_prepend('    ')" />

					<div class="pwic_spacer"></div>

					<input type="button" value="H1" title="# Title 1" onclick="edit_prepend('# ')" />
					<input type="button" value="H2" title="## Title 2" onclick="edit_prepend('## ')" />
					<input type="button" value="H3" title="### Title 3" onclick="edit_prepend('### ')" />
					<input type="button" value="H4" title="#### Title 4" onclick="edit_prepend('#### ')" />
					<input type="button" value="H5" title="##### Title 5" onclick="edit_prepend('##### ')" />
					<input type="button" value="H6" title="###### Title 6" onclick="edit_prepend('###### ')" />
					<input type="button" value="Footnote" title="[^1] Footnote" onclick="edit_footnote()" />

					<div class="pwic_spacer"></div>

					<input type="button" value="Table" title="Table | Table" onclick="edit_table('Number of columns', 'Number of rows')" />
					<input type="button" value="List" title="- List" onclick="edit_prepend('- ')" />
					<input type="button" value="Quote" title="> Quote" onclick="edit_prepend('> ')" />
					<input type="button" value="Keyword" title="`Keyword`" onclick="edit_decorate('`')" />
					<input type="button" value="Code" title="```Code```" onclick="edit_decorate2('```\n', '\n```')" />
				</div>
				<textarea id="edit_markdown" name="edit_markdown">{{pwic.markdown|escape}}</textarea>

				{% if not pwic.msie %}
					<p><strong>Documents:</strong></p>
					<div id="edit_files_drop" ondrop="edit_drop(event, 'Unsupported feature')" ondragover="edit_dragover(event)" ondragleave="edit_dragleave(event)">
						Drop the files here + Save immediately
					</div>
					<table id="edit_files_list">
						<tr>
							<th>File name</th>
							<th>Size</th>
							<th>MIME</th>
							<th>Author</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
					</table>
				{% endif %}

				<p><strong>Reason for the modification:</strong> <input id="edit_comment" class="pwic_fill" type="text" name="edit_comment" /></p>
				<p><strong>Milestone:</strong> <input class="pwic_fill" type="text" name="edit_milestone" value="{{pwic.milestone|escape}}" /></p>
				<p>
					<div><input type="checkbox" id="edit_draft" name="edit_draft" {% if pwic.draft %}checked="checked"{% endif %} onclick="edit_uncheck('edit_final')" /> <label for="edit_draft">Save as draft</label></div>
					<div><input type="checkbox" id="edit_final" name="edit_final" onclick="edit_uncheck('edit_draft')" /> <label for="edit_final">Final version</label></div>
					<div><input type="checkbox" id="edit_protection" name="edit_protection" {% if pwic.protection %}checked="checked"{% endif %} {% if not pwic.manager %}disabled="disabled"{% endif %} /> <label for="edit_protection">Protected page *</label></div>
					<div><input type="checkbox" id="edit_header" name="edit_header" {% if pwic.header %}checked="checked"{% endif %} {% if not pwic.manager %}disabled="disabled"{% endif %} /> <label for="edit_header">Header line *</label></div>
				</p>
				<p>
					<input type="hidden" name="edit_project" value="{{pwic.project|escape}}" />
					<input type="hidden" name="edit_page" value="{{pwic.page|escape}}" />
					<input type="button" value="{{pwic.emojis.save}} Save the modifications" onclick="edit_submit('Some fields cannot be blank.', 'The server cannot be reached. Verify your Internet connection or the status of the server.', 'Your session is not valid anymore. Please reconnect from another tab and retry.')" />
					<input type="button" value="{{pwic.emojis.glasses}} Preview" onclick="edit_preview('Preview of &quot;{{pwic.page|urlencode}}&quot;', 'Close the preview')" />
				</p>
			</form>

			{% include 'page-edit.js.html' %}
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
