{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}">{{pwic.project_description|escape}}</a></div>
		<div class="pwic_ph2"><a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/history">[{{pwic.page|escape}}] {{pwic.page_title|escape}}</a></div>
	</header>

	<article>
		<h2>Comparison of <a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/rev{{pwic.old_revision|escape}}">revision {{pwic.old_revision|escape}}</a> and <a href="/{{pwic.project|urlencode}}/{{pwic.page|urlencode}}/rev{{pwic.new_revision|escape}}">revision {{pwic.new_revision|escape}}</a></h2>

		<hr/>

		{{pwic.diff}}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
