{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}">{{pwic.emojis.finger_up}} {{pwic.project_description|escape}}</a></div>
		{% if (pwic.links|count > 0) or (not pwic.env.no_search) %}
			<div class="pwic_tagbox">
				{% for link in pwic.links %}
					<a href="/{{pwic.project|urlencode}}/{{link.page|urlencode}}">{{link.title|escape}}</a>
				{% endfor %}
				{% if not pwic.env.no_search %}
					<div class="pwic_searchbox">
						{{pwic.emojis.search}}
						<input type="text" id="page_search" onkeypress="page_search()" />
					</div>
				{% endif %}
			</div>
		{% endif %}
	</header>

	{% if not pwic.env.no_search %}
		{% include 'search.js.html' %}
	{% endif %}

	<article>
		{% if pwic.env.maintenance %}
			<p class="pwic_error">{{pwic.emojis.calendar}} {{pwic.env.maintenance.value|escape}}</p>
		{% endif %}
		{% if pwic.env.message %}
			<p class="pwic_information">{{pwic.emojis.pin}} {{pwic.env.message.value|escape}}</p>
		{% endif %}

		<div class="pwic_action_bar">
			{% if pwic.admin %}
				<a href="/special/create-user?project={{pwic.project|urlencode}}">{{pwic.emojis.users}} New user</a>
				<a href="/{{pwic.project|urlencode}}/special/roles">{{pwic.emojis.key}} Roles</a>
				<a href="/{{pwic.project|urlencode}}/special/audit">{{pwic.emojis.glasses}} Audit</a>
				<a href="/{{pwic.project|urlencode}}/special/env">{{pwic.emojis.pill}} Settings</a>
			{% endif %}
			{% if pwic.manager %}
				<a href="/special/create-page?project={{pwic.project|urlencode}}">{{pwic.emojis.sheet}} New page</a>
				<a href="/{{pwic.project|urlencode}}/special/links">{{pwic.emojis.chains}} Links</a>
				{% if not pwic.env.no_graph %}
					<a href="/{{pwic.project|urlencode}}/special/graph">{{pwic.emojis.globe}} Graph</a>
				{% endif %}
			{% endif %}
			{% if pwic.admin %}
				<a class="pwic_desktop" href="/api/project/export?project={{pwic.project|urlencode}}">{{pwic.emojis.clamp}} Export</a>
				<a href="/api">{{pwic.emojis.truck}} API</a>
			{% endif %}
			<a href="/{{pwic.project|urlencode}}/special/random">{{pwic.emojis.dice}} Random page</a>
		</div>


		{% if pwic.env.support_email or pwic.env.support_phone or pwic.env.support_url or pwic.env.support_text %}
			<h1>Internal support</h1>
			{% include "en/block-support.html" %}
		{% endif %}


		{% if pwic.recents|count > 0 %}
			<h1 class="pwic_cursor" title="Expand/Collapse" onclick="$('#page_updates_list').toggleClass('pwic_hidden')">Recent updates</h1>
			<table id="page_updates_list">
				<tr>
					<th>Date</th>
					<th class="pwic_desktop">Time</th>
					<th>Page</th>
					<th class="pwic_desktop">Author</th>
					<th>Comment</th>
					<th class="pwic_desktop">Milestone</th>
				</tr>

				{% for recent in pwic.recents %}
					<tr>
						<td class="pwic_nowrap">{{recent.date}}</td>
						<td class="pwic_desktop">{{recent.time}}</td>
						<td><a href="/{{pwic.project|urlencode}}/{{recent.page|urlencode}}">{{recent.title|escape}}</a></td>
						<td class="pwic_desktop"><a class="pwic_break" href="/special/user/{{recent.author|urlencode}}" rel="nofollow">{{recent.author|escape}}</a></td>
						<td>{{recent.comment|escape}}</td>
						<td class="pwic_desktop">{{recent.milestone|escape}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}


		<h1 class="pwic_cursor" title="Expand/Collapse" onclick="$('#page_members_list').toggleClass('pwic_hidden')">Team members</h1>
		<div id="page_members_list">
			<p>By active profile:</p>
			<ul>
				{% if pwic.admins|count > 0 %}
					<li><strong>Administrators:</strong>
						{% for admin in pwic.admins %}
							<a href="/special/user/{{admin|urlencode}}" rel="nofollow">{{admin|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.managers|count > 0 %}
					<li><strong>Managers:</strong>
						{% for manager in pwic.managers %}
							<a href="/special/user/{{manager|urlencode}}" rel="nofollow">{{manager|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.editors|count > 0 %}
					<li><strong>Editors:</strong>
						{% for editor in pwic.editors %}
							<a href="/special/user/{{editor|urlencode}}" rel="nofollow">{{editor|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.validators|count > 0 %}
					<li><strong>Validators:</strong>
						{% for validator in pwic.validators %}
							<a href="/special/user/{{validator|urlencode}}" rel="nofollow">{{validator|escape}}</a>
						{% endfor %}
					</li>
				{% endif %}
				{% if pwic.readers|count > 0 %}
					<li><strong>Readers:</strong>
						{% if pwic.readers|count > 100 %}
							too many users.
						{% else %}
							{% for reader in pwic.readers %}
								<a href="/special/user/{{reader|urlencode}}" rel="nofollow">{{reader|escape}}</a>
							{% endfor %}
						{% endif %}
					</li>
				{% endif %}
			</ul>
			{% if (pwic.admin or pwic.manager) and (pwic.disableds|count > 0 or pwic.inactive_users|count > 0) %}
				<p>By status:</p>
				<ul>
					{% if pwic.disableds|count > 0 %}
						<li><strong>Disabled users:</strong>
							{% for user in pwic.disableds %}
								<a href="/special/user/{{user|urlencode}}" rel="nofollow">{{user|escape}}</a>
							{% endfor %}
						</li>
					{% endif %}
					{% if pwic.inactive_users|count > 0 %}
						<li><strong>Inactive users:</strong>
							{% for user in pwic.inactive_users %}
								<a href="/special/user/{{user|urlencode}}" rel="nofollow">{{user|escape}}</a>
							{% endfor %}
						</li>
					{% endif %}
				</ul>
			{% endif %}
		</div>


		{% if (pwic.pages|count > 0) and (pwic.user[:4] != 'pwic') %}
			<h1 class="pwic_cursor" title="Expand/Collapse" onclick="$('#page_pages_list').toggleClass('pwic_hidden')">All the pages of the project</h1>
			<table id="page_pages_list">
				<tr>
					<th>Page</th>
					<th>Title</th>
					<th class="pwic_desktop">Revision</th>
					<th>Flags</th>
					<th>Author</th>
					<th class="pwic_desktop">Date</th>
					<th class="pwic_desktop">Time</th>
					<th class="pwic_desktop">Milestone</th>
				</tr>
			{% for page in pwic.pages %}
				<tr>
					<td>{{page.page|escape}}</td>
					<td><a href="/{{pwic.project|urlencode}}/{{page.page|urlencode}}">{{page.title|escape}}</a></td>
					<td class="pwic_desktop">{{page.revision|escape}}</td>
					<td>
						{% if page.draft %}
							<span title="Draft">{{pwic.emojis.hourglass}}</span>
						{% endif %}
						{% if page.final %}
							<span title="Marked as final">{{pwic.emojis.notes}}</span>
						{% endif %}
						{% if page.valuser != '' %}
							<span title="Validated by {{page.valuser|escape}} on {{page.valdate|escape}} at {{page.valtime|escape}}">{{pwic.emojis.flag}}</span>
						{% endif %}
					</td>
					<td><a class="pwic_break" href="/special/user/{{page.author|urlencode}}" rel="nofollow">{{page.author|escape}}</a></td>
					<td class="pwic_desktop pwic_nowrap">{{page.date|escape}}</td>
					<td class="pwic_desktop">{{page.time|escape}}</td>
					<td class="pwic_desktop">{{page.milestone|escape}}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}


		{% if pwic.tags|count > 0 %}
			<h1>Progress by tag</h1>
			<div id="page_progress_tags" class="pwic_tagbox">
				<a href="#" title="Reset">{{pwic.emojis.red_check}}</a>
				{% for tag in pwic.tags %}
					<a href="#" title="Un/Select this tag">#{{tag|escape}}</a>
				{% endfor %}
			</div>

			<table id="page_progress_list" class="pwic_hidden">
				<tr>
					<th>Tag</th>
					<th colspan="2">Draft</th>
					<th colspan="2">Step</th>
					<th colspan="2">Final</th>
					<th colspan="2">Validated</th>
				</tr>
			</table>

			{% include 'page-special-progress.js.html' %}
		{% endif %}


		{% if (pwic.documents|count > 0) and (pwic.user[:4] != 'pwic') %}
			<h1 class="pwic_cursor" title="Expand/Collapse" onclick="$('#page_documents_space, #page_documents_list').toggleClass('pwic_hidden')">All the documents of the project</h1>
			<p id="page_documents_space" class="pwic_center"><strong>Disk space usage:</strong>
				{% if pwic.disk_space.project_max > 0 %}
					<span class="pwic_progressbar">
						<span style="width:{{pwic.disk_space.percentage}}%">&nbsp;</span>
					</span>
					<span class="pwic_nowrap">{{pwic.disk_space.used_str}} / {{pwic.disk_space.project_max_str}} ({{pwic.disk_space.percentage}} %)</span>
				{% else %}
					{{pwic.disk_space.used_str}}
				{% endif %}
			</p>

			<table id="page_documents_list">
				<tr>
					<th class="pwic_desktop">Page</th>
					<th>File name</th>
					<th class="pwic_desktop">MIME</th>
					<th>Size</th>
					<th class="pwic_desktop">Hash</th>
					<th>Author</th>
					<th class="pwic_desktop">Date</th>
					<th class="pwic_desktop">Time</th>
					<th><span class="pwic_desktop">Download</span></th>
				</tr>
				{% for doc in pwic.documents %}
					<tr>
						<td class="pwic_desktop"><a href="/{{doc.project|urlencode}}/{{doc.page|urlencode}}">{{doc.page|escape}}</a></td>
						<td>
							<a class="pwic_break" href="/special/document/{{doc.id|urlencode}}/{{doc.filename|urlencode}}">{{doc.filename|escape}}</a>
							{% if doc.exturl != ''%}
								<span title="External storage">{{pwic.emojis.cloud}}</span>
							{% endif%}
						</td>
						<td class="pwic_desktop">{{doc.mime_icon}} {{doc.mime|escape}}</td>
						<td>{{doc.size|escape}}</td>
						<td class="pwic_desktop">
							<span title="{{doc.hash|escape}}">{{doc.hash[:8]|escape}}</span>
							{% if doc.occurrence > 1 %}
								<span title="Duplicate file">{{pwic.emojis.gemini}}</span>
							{% endif %}
						</td>
						<td><a class="pwic_break" href="/special/user/{{doc.author|urlencode}}" rel="nofollow">{{doc.author|escape}}</a></td>
						<td class="pwic_desktop pwic_nowrap">{{doc.date|escape}}</td>
						<td class="pwic_desktop">{{doc.time|escape}}</td>
						<td><a href="/special/document/{{doc.id|urlencode}}?attachment">{{pwic.emojis.inbox}}</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
