{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/">Create a new page</a></div>
	</header>

	{% include 'page-create.js.html' %}

	<article>
		{% if pwic.projects|count == 0 %}

			<p class="pwic_error">{{pwic.emojis.padlock}} You have no authorization to create a new page. Please contact your manager.</p>

		{% else %}

			<form id="create_form" action="/api/page/create" method="post">
				<h1>New page</h1>
				<p><strong>Project:</strong><br/>
					<select id="create_project" name="create_project">
						{% for proj in pwic.projects %}
						<option value="{{proj.project|escape}}"
							{% if proj.project == pwic.default_project %} selected="selected" {% endif %}
						>{{proj.description|escape}} ({{proj.project|escape}})</option>
						{% endfor %}
					</select>
				</p>
				<p><strong>Page identifier:</strong> <input id="create_page" class="pwic_fill" type="text" name="create_page" /></p>
				<p><strong>Milestone:</strong> <input class="pwic_fill" type="text" name="create_milestone" /></p>
				<p><strong>Tags:</strong> <input id="create_tags" class="pwic_fill" type="text" name="create_tags" value="" title="No hash and separated by a space" /></p>

				<h1>Copy in reference to another page</h1>
				<p><strong>Project:</strong><br/>
					<select name="create_ref_project">
						<option value=""></option>
						{% for p in pwic.projects %}
						<option value="{{p.project|escape}}">{{p.description|escape}}</option>
						{% endfor %}
					</select>
				</p>
				<p><strong>Page identifier:</strong> <input class="pwic_fill" type="text" name="create_ref_page" /></p>
				<p><input type="checkbox" id="create_ref_tags" name="create_ref_tags" checked="checked" /> <label for="create_ref_tags">Copy the tags and merge with the above ones</label></p>

				<p><input type="button" value="{{pwic.emojis.sheet}} Create the page" onclick="create_submit('The names are not acceptable.')" /></p>
			</form>

		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
