{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/">{{pwic.emojis.finger_up}} [{{pwic.project|escape}}] Access denied</a></div>
	</header>

	<article>
		<p class="pwic_error">{{pwic.emojis.red_check}} You don't have the authorizations to access this project.</p>

		{% if pwic.env.support_email or pwic.env.support_phone or pwic.env.support_url or pwic.env.support_text %}
			<p>To request your access, get in touch with the support team:</p>
			{% include "en/block-support.html" %}
		{% else %}
			<p>Unfortunately, there is no defined support information to request your access.</p>
		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
