{% extends 'main.html' %}


{% block content %}
	<header>
		<h1><a href="/">Create a new user</a></h1>
	</header>

	{% include 'user-create.js.html' %}

	<article>
		{% if pwic.projects|count == 0 %}

			<p class="pwic_error">{{pwic.emojis.padlock}} You have no authorization to create a new user. Please contact your administrator.</p>

		{% else %}

			<form id="create_form" action="/api/user/create" method="post">
				<p><strong>Project:</strong><br/>
					<select id="create_project" name="create_project">
						{% for p in pwic.projects %}
						<option value="{{p.project|escape}}">{{p.description|escape}}</option>
						{% endfor %}
					</select>
				</p>
				<p><strong>User name:</strong> <input id="create_user" class="pwic_fill" type="text" name="create_user" /></p>
				<p><input type="button" value="{{pwic.emojis.users}} Create the user" onclick="create_submit('The names are not acceptable.')" /></p>
			</form>

		{% endif %}
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
