{% extends 'main.html' %}


{% block content %}
	<header>
		<div class="pwic_ph1"><a href="/{{pwic.project|urlencode}}/special">{{pwic.emojis.finger_left}} Roles of the users</a></div>
		<div class="pwic_ph2">[{{pwic.project|escape}}] {{pwic.project_description|escape}}</div>
	</header>

	{% include 'user-roles.js.html' %}

	<article>
		<p class="pwic_action_bar">
			<a href="/{{pwic.project|urlencode}}/special/audit">{{pwic.emojis.glasses}} Audit</a>
			<a href="/special/create-user?project={{pwic.project|urlencode}}">{{pwic.emojis.users}} Create a user</a>
		</p>

		<p class="pwic_italic">Reminder: the password of a user must be changed before his roles can be changed.</p>

		<table class="pwic_zebra">
			<tr>
				<th>User</th>
				<th>Password</th>
				<th>Admin</th>
				<th>Manager</th>
				<th>Editor</th>
				<th>Validator</th>
				<th>Reader</th>
				<th>Disabled</th>
				<th>Delete</th>
			</tr>

			{% set u = namespace(value=0) %}
			{% for role in pwic.roles %}
				<tr id="roles_tag_{{u.value+7}}">
					<td><a href="/special/user/{{role.user|urlencode}}">{{role.user|escape}}</a></td>
					<td>
						{% if role.user[:4] == 'pwic' %}
							<span title="Special account">{{pwic.emojis.star}}</span>
						{% elif role.oauth %}
							<span title="Federated authentication">{{pwic.emojis.id}}</span>
						{% elif role.initial %}
							<span title="The user must change his password">{{pwic.emojis.unlocked}}</span>
						{% else %}
							{{pwic.emojis.green_check}}
						{% endif %}
					</td>
					<td>
						<input	id="roles_tag_{{u.value+1}}"
								type="checkbox"
							{% if (role.user == pwic.user) or (role.user[:4] == 'pwic') or role.initial %}
								disabled="disabled"
							{% else %}
								onclick="return roles_toggle({{u.value+1}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'admin')"
							{% endif %}
							{% if role.admin %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						<input	id="roles_tag_{{u.value+2}}"
								type="checkbox"
								onclick="return roles_toggle({{u.value+2}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'manager')"
							{% if role.initial %}
								disabled="disabled"
							{% endif %}
							{% if role.manager %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						<input	id="roles_tag_{{u.value+3}}"
								type="checkbox"
								onclick="return roles_toggle({{u.value+3}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'editor')"
							{% if role.initial %}
								disabled="disabled"
							{% endif %}
							{% if role.editor %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						<input	id="roles_tag_{{u.value+4}}"
								type="checkbox"
								onclick="return roles_toggle({{u.value+4}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'validator')"
							{% if role.initial %}
								disabled="disabled"
							{% endif %}
							{% if role.validator %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						<input	id="roles_tag_{{u.value+5}}"
								type="checkbox"
								onclick="return roles_toggle({{u.value+5}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'reader')"
							{% if role.initial %}
								disabled="disabled"
							{% endif %}
							{% if role.reader %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						<input	id="roles_tag_{{u.value+6}}" type="checkbox"
							{% if (role.user == pwic.user) or role.initial %}
								disabled="disabled"
							{% else %}
								onclick="return roles_toggle({{u.value+6}}, '{{pwic.project|escape}}', '{{role.user|escape}}', 'disabled')"
							{% endif %}
							{% if role.disabled %}
								checked="checked"
							{% endif %}
						/>
					</td>
					<td>
						{% if (role.user != pwic.user) and (role.user[:4] != 'pwic') %}
							<input	type="button"
									onclick="return roles_delete('Are you sure to delete the rights of the user \'{{role.user|escape}}\' for the project?', {{u.value+7}}, '{{pwic.project|escape}}', '{{role.user|escape}}')"
									value="{{pwic.emojis.trash}}"
									title="Delete {{role.user|escape}}"
							/>
						{% endif %}
					</td>
				</tr>
				{% set u.value = u.value + 7 %}
			{% endfor %}
		</table>
	</article>
{% endblock %}


{% block footer %}
	{% include "en/footer.html" %}
{% endblock %}
