<ul>
	{% if pwic.env.support_email %}
		<li>{% trans %}By email:{% endtrans %} <a href="mailto:{{pwic.env.support_email.value|urlencode}}">{{pwic.env.support_email.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_phone %}
		<li>{% trans %}By phone:{% endtrans %} <a href="tel:{{pwic.env.support_phone.value|replace(' ','')|urlencode}}">{{pwic.env.support_phone.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_url %}
		<li>{% trans %}On a portal:{% endtrans %} <a href="{{pwic.env.support_url.value|escape}}">{{pwic.env.support_url.value|escape}}</a></li>
	{% endif %}
	{% if pwic.env.support_text %}
		<li>{{pwic.env.support_text.value|escape|replace('\\n','<br/>')}}</li>
	{% endif %}
</ul>
