
// --------------------------------
//  Fonts @ https://fonts.google.com/specimen/Rokkitt
// --------------------------------

@font-face
	font-family: 'Rokkitt'
	font-style: normal
	font-weight: 400
	font-display: swap
	src: url(/static/rokkitt.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
	font-family: 'Rokkitt'
	font-style: normal
	font-weight: 400
	font-display: swap
	src: url(/static/rokkitt-ext.woff2) format('woff2')
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF


// --------------------------------
//  Main HTML tags
// --------------------------------

BODY
	width: 100%
	margin: 0px
	padding: 0px
	font-family: 'Rokkitt', serif

A
	text-decoration: none
	color: black

BLOCKQUOTE
	border-left: 5px solid gray
	margin-left: 0px
	padding-left: 10px

CODE
	display: inline-block
	border: 1px solid gray
	padding: 3px
	white-space: pre-wrap


// --------------------------------
//  Template - Header
// --------------------------------

HEADER
	background-color: #F0F0F0
	border-bottom: 1px solid black
	box-shadow: 0px 0px 5px gray

	H1,H2
		margin: 0px
		padding: 10px 0px 10px 50px
		font-weight: bold

	.pwic_tagbox
		margin: 0px
		padding: 0px 0px 10px 50px
		overflow: hidden
		font-weight: bold

		A,DIV
			float: left
			margin: 5px 10px 5px 0px
			padding: 5px 10px 5px 10px
			line-height: 25px

		A
			border: 1px solid black
		A:hover
			background-color: white

		DIV
			border: 1px solid black
			background-color: white

			INPUT
				width: 50px
				border: none
			INPUT:focus
				width: 250px
				transition: width 0.5s


// --------------------------------
//  Template - Content
// --------------------------------

ARTICLE
	display: block
	margin: auto
	width: 90%
	padding: 20px
	// border-left: 1px solid lightgrey
	// border-right: 1px solid lightgrey
	border-bottom: 1px dashed lightgrey

	// -------------------------------- Standard tags

	H1
		background-color: #F4F4F4
		border-bottom: 1px solid black
		border-radius: 10px
		margin-top: 30px
		padding: 3px 10px 3px 10px
		font-size: 20pt
		font-weight: bold

	H2
		margin-top: 30px
		font-size: 16pt
		font-weight: bold
		border-bottom: 1px solid lightgrey

	TABLE
		width: 95%
		margin: auto
		border-spacing: 0px
		border-collapse: collapse

	TABLE.pwic_zebra
		TR:nth-child(even)
			background: #F0F0F0

	TH
		text-align: left
		border-bottom: 1px solid gray

	TH,TD
		padding: 2px 5px 2px 5px

	INPUT[type=button], INPUT[type=submit]
		padding: 5px 15px 5px 15px
		cursor: pointer

	A:not(.pwic_browser_item)
		color: red
		text-decoration: underline


	// -------------------------------- Document browser

	#pwic_browser_access
		position: fixed
		bottom: 50px
		right: 75px
		z-index: 999

		width: 50px
		height: 50px
		line-height: 50px
		border-radius: 25px
		border: 2px solid green
		background-color: rgb(149, 236, 168)
		box-shadow: 0px 0px 0px 10px white

		font-size: 26pt
		text-align: center
	#pwic_browser_access:hover
		cursor: pointer
		background-color: green
		color: white

	#pwic_browser
		position: fixed
		left: 10px
		right: 10px
		top: 10px
		bottom: 10px
		z-index: 998
		overflow-x: hidden
		overflow-y: scroll

		padding: 10px
		border: 1px solid black
		box-shadow: 0px 0px 0px 10px white
		background-color: #F7F7F7

		A
			display: block
			padding: 5px
			margin: 5px

		A.pwic_browser_item_h1
			padding-left: 10px
			border-bottom: 1px solid grey
			font-size: 16pt
			font-weight: bold

		A.pwic_browser_item_h2
			padding-left: 20px
			font-size: 14pt

		A.pwic_browser_item_h3
			padding-left: 30px

		A.pwic_browser_item_h4
			padding-left: 40px

		A.pwic_browser_item_h5
			padding-left: 50px

		A.pwic_browser_item_h6
			padding-left: 60px

		A:hover
			background-color: lightyellow
			font-weight: bold

	// -------------------------------- Pygment
	// Adapted from: https://github.com/richleland/pygments-css/blob/master/pastie.css

	CODE
		background: #ffffff
		.hll
			background-color: #ffffcc
		.c
			color: #888888
		.err
			color: #a61717
			background-color: #e3d2d2
		.k
			color: #008800
			font-weight: bold
		.ch
			color: #888888
		.cm
			color: #888888
		.cp
			color: #cc0000
			font-weight: bold
		.cpf
			color: #888888
		.c1
			color: #888888
		.cs
			color: #cc0000
			font-weight: bold
			background-color: #fff0f0
		.gd
			color: #000000
			background-color: #ffdddd
		.ge
			font-style: italic
		.gr
			color: #aa0000
		.gh
			color: #333333
		.gi
			color: #000000
			background-color: #ddffdd
		.go
			color: #888888
		.gp
			color: #555555
		.gs
			font-weight: bold
		.gu
			color: #666666
		.gt
			color: #aa0000
		.kc
			color: #008800
			font-weight: bold
		.kd
			color: #008800
			font-weight: bold
		.kn
			color: #008800
			font-weight: bold
		.kp
			color: #008800
		.kr
			color: #008800
			font-weight: bold
		.kt
			color: #888888
			font-weight: bold
		.m
			color: #0000DD
			font-weight: bold
		.s
			color: #dd2200
			background-color: #fff0f0
		.na
			color: #336699
		.nb
			color: #003388
		.nc
			color: #bb0066
			font-weight: bold
		.no
			color: #003366
			font-weight: bold
		.nd
			color: #555555
		.ne
			color: #bb0066
			font-weight: bold
		.nf
			color: #0066bb
			font-weight: bold
		.nl
			color: #336699
			font-style: italic
		.nn
			color: #bb0066
			font-weight: bold
		.py
			color: #336699
			font-weight: bold
		.nt
			color: #bb0066
			font-weight: bold
		.nv
			color: #336699
		.ow
			color: #008800
		.w
			color: #bbbbbb
		.mb
			color: #0000DD
			font-weight: bold
		.mf
			color: #0000DD
			font-weight: bold
		.mh
			color: #0000DD
			font-weight: bold
		.mi
			color: #0000DD
			font-weight: bold
		.mo
			color: #0000DD
			font-weight: bold
		.sa
			color: #dd2200
			background-color: #fff0f0
		.sb
			color: #dd2200
			background-color: #fff0f0
		.sc
			color: #dd2200
			background-color: #fff0f0
		.dl
			color: #dd2200
			background-color: #fff0f0
		.sd
			color: #dd2200
			background-color: #fff0f0
		.s2
			color: #dd2200
			background-color: #fff0f0
		.se
			color: #0044dd
			background-color: #fff0f0
		.sh
			color: #dd2200
			background-color: #fff0f0
		.si
			color: #3333bb
			background-color: #fff0f0
		.sx
			color: #22bb22
			background-color: #f0fff0
		.sr
			color: #008800
			background-color: #fff0ff
		.s1
			color: #dd2200
			background-color: #fff0f0
		.ss
			color: #aa6600
			background-color: #fff0f0
		.bp
			color: #003388
		.fm
			color: #0066bb
			font-weight: bold
		.vc
			color: #336699
		.vg
			color: #dd7700
		.vi
			color: #3333bb
		.vm
			color: #336699
		.il
			color: #0000DD
			font-weight: bold


// --------------------------------
//  Template - Footer
// --------------------------------

FOOTER
	display: block
	width: 90%
	margin: auto
	margin-bottom: 10px
	padding: 2px 20px 2px 20px
	border: 1px solid grey
	border-radius: 10px
	background-color: lightgrey
	font-size: smaller
	text-align: center

	A
		text-decoration: underline


// --------------------------------
//  Popup widget
// --------------------------------

.pwic_blurcontainer
	position: absolute
	left: 0px
	right: 0px
	top: 0px
	bottom: 0px
	background-color: rgb(255, 255, 255, 75%)
	backdrop-filter: blur(3px)					// Only Chrome

.pwic_popup
	position: absolute
	left: 15%
	right: 15%
	top: 30%
	bottom: auto
	background-color: #FFFFF0
	padding: 15px
	box-shadow: 0px 0px 15px gray
	border: 1px solid black
	border-radius: 15px

	P
		text-align: center


// --------------------------------
//  Messages types
// --------------------------------

.pwic_error, .pwic_information, .pwic_warning
	padding: 5px
	border-radius: 10px

.pwic_error
	background-color: #FFE0E0
	border: 1px solid red

.pwic_information
	background-color: #E0FFE0
	border: 1px solid green

.pwic_warning
	background-color: lightyellow
	border: 1px solid orange


// --------------------------------
//  Individual reusable styles
// --------------------------------

.pwic_action_bar
	line-height: 20px
	text-align: right

	A
		display: inline-block
		padding: 5px 10px 5px 10px
		margin: 5px 0px 5px 5px
		border: 1px solid lightgrey
		border-radius: 10px
		background-color: #E0E0FF
		text-decoration: none !important
	A:hover
		border: 1px solid black
		border-radius: 0px

.pwic_center
	text-align: center

.pwic_fill
	width: 100%

.pwic_hidden
	display: none

TABLE.diff
	width: 100%
	TD
		padding: 0px 5px 0px 5px
	TD:nth-child(3)
		width: 45%
	TD:nth-child(6)
		width: 45%

.diff_header
	background-color: #F0F0F0
	text-align: right
	font-size: 8pt
	font-family: fixed

.diff_add
	padding: 1px 5px 1px 5px
	display: inline-block
	background-color: #E0FFE0
	border: 1px solid green

.diff_chg
	padding: 1px 5px 1px 5px
	display: inline-block
	background-color: #FFFFE0
	border: 1px solid yellow

.diff_sub
	padding: 1px 5px 1px 5px
	display: inline-block
	background-color: #FFE0E0
	border: 1px solid red


// --------------------------------
//  Individual elements
// --------------------------------

#page_lastmod
	text-align: right
	font-size: smaller

#page_topofpage
	text-align: center
#page_topofpage:hover
	font-weight: bold

#edit_toolbar
	INPUT[type=button]
		padding: 5px 10px 5px 10px

#edit_markdown
	width: 100%
	height: 75vh


// --------------------------------
//  Mobile corrections
// --------------------------------

@media screen and (max-width: 640px)
	.pwic_desktop
		display: none

	ARTICLE
		TABLE
			width: 100%
