<script>
	'use strict';

	window.onscroll = function() {
		var	scroll = document.body.scrollTop || document.documentElement.scrollTop,
			height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		document.getElementById('pwic_progression').style.height = ((scroll / height) * 100).toString() + 'vh';
	}

	function page_tmap() {
		var element = document.getElementById('pwic_browser');
		element.classList.toggle('pwic_hidden');
		if (!element.classList.contains('pwic_hidden'))
			element.focus();
	}

	function page_post_action(action, confirmText, notAvailableText) {
		{% if (pwic.page == 'home') and (pwic.revision == 1) %}
			if (action == 'delete')
				alert(notAvailableText);
			else
		{% endif %}

		if (confirm(confirmText))
		{
			fetch('/api/page/'+action, {method: 'POST',
										headers: {'Content-Type': 'application/x-www-form-urlencoded'},
										body:	action+'_project={{pwic.project|urlencode}}&' +
												action+'_page={{pwic.page|urlencode}}&' +
												action+'_revision={{pwic.revision|urlencode}}' })
				.then(function(response) {
					if (response.status != 200)
						throw Error(response.status + ' ' + response.statusText);
					else
						window.location =	'/{{pwic.project|escape}}' +
											'/{{pwic.page|escape}}' +
											(action != 'delete' ? '/rev{{pwic.revision|escape}}' : '') +
											'?success';
				})
				.catch(function(error) {
					alert(error);
				});
		}
		return false;
	}

	function page_download(format) {
		fetch('/api/page/export', {	method: 'POST',
									headers: {'Content-Type': 'application/x-www-form-urlencoded'},
									body:	'download_project={{pwic.project|urlencode}}&' +
											'download_page={{pwic.page|urlencode}}&' +
											'download_revision={{pwic.revision|urlencode}}&'+
											'download_format=' + encodeURIComponent(format) })
			.then(function(response) {
				if (response.status != 200)
					throw Error(response.status + ' ' + response.statusText);
				else
				{
					var filename = response.headers.get('Content-Disposition').split(';filename=')[1];
					response.blob().then(function (blob) {
						var dl = document.createElement('a');
						dl.href = window.URL.createObjectURL(new Blob([blob], {type: blob.type}));
						dl.download = filename;
						dl.click();
						return true;
					});
				}
			})
			.catch(function(error) {
				alert(error);
			});
		return false;
	}
</script>