<script>
	'use strict';

	function history_compare() {
		var rev = [],
			elements = document.getElementsByTagName('input');
		for (var i=0 ; i<elements.length ; i++)
		{
			var e = elements[i];
			if ((e.type == "checkbox") && e.checked)
				rev.push(e.dataset.revision);
		}
		if (rev.length > 2)
			return false;
		else
			if (rev.length == 2)
			{
				rev.sort();
				window.location = '/{{pwic.project|escape}}/{{pwic.page|escape}}/rev'+rev[1]+'/compare/rev'+rev[0];
			}
		return true;
	}
</script>