<script>
	var easyMDE_buttons = [
			{	name: 'custom',
				action: function(editor) {
					edit_table('Number of columns', 'Number of rows')
				},
				className: 'fa fa-table',
				title: 'Insert a table',
			},
			{	name: 'custom',
				action: function(editor) {
					alert('From the list of documents, please rather use the sign + in front of the file that you want to attach as an image or as a link.');
				},
				className: 'fa fa-paperclip',
				title: 'Attach an uploaded document',
			},
			{	name: 'custom',
				action: function(editor) {
					if (confirm('Are you sure to switch back to the basic editor ?'))
					{
						$('#edit_toolbar').removeClass('pwic_hidden');
						easyMDE.toTextArea();
						easyMDE = null;
					}
				},
				className: 'fa fa-edit',
				title: 'Switch to the classical editor',
			}
		];
	var easyMDE = new EasyMDE({	element: $('#edit_markdown')[0],
								forceSync: true,
								indentWithTabs: false,
								lineWrapping: false,
								promptURLs: true,
								spellChecker: false,
								nativeSpellcheck: true,
								sideBySideFullscreen: false,
								tabSize: 4,
								toolbar: [	'undo', 'redo', '|',
											'bold', 'italic', /* TODO underline, */ 'strikethrough', 'clean-block', '|',
											'heading-smaller', 'heading-bigger', 'horizontal-rule', '|',
											'unordered-list', 'ordered-list', 'link', 'image', easyMDE_buttons[0], easyMDE_buttons[1], '|',
											'quote', 'code', '|',
											'preview', 'fullscreen', easyMDE_buttons[2]
											// guide heading heading-1 heading-2 heading-3 side-by-side table
										],
								status: false
							});
</script>