<script>
	'use strict';

	window.onscroll = function() {
		var	scroll = document.body.scrollTop || document.documentElement.scrollTop,
			height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		$('#pwic_progress')[0].style.height = ((scroll / height) * 100).toString() + 'vh';
		$('#page_topofpage').toggleClass('pwic_hidden', scroll == 0);
	}

	$(document).on('keyup', (event) => {
		if (!$('#pwic_browser').hasClass('pwic_hidden'))
			if ((event || window.event).key == 'Escape')
				$('#pwic_browser_access').trigger('click');
	});

	function page_email(draft_msg) {
		{% if pwic.draft %}
			if (confirm(draft_msg))
		{% endif %}
		{
			var url = window.location.toString();
			if (url.endsWith('#'))
				url = url.substring(0, url.length - 1);
			window.location = "mailto:?subject={{pwic.title|urlencode}}&body="+encodeURIComponent('\n\n'+url);
		}
		return false;
	}

	function page_print() {
		window.print();
		return false;
	}

	function page_tmap() {
		var element = $('#pwic_browser');
		element.toggleClass('pwic_hidden');
		if (!element.hasClass('pwic_hidden'))
			element[0].focus();
	}

	function page_post_action(action, confirmText) {
		if (confirm(confirmText))
		{
			fetch('/api/page/'+action, {method: 'POST',
										headers: {'Content-Type': 'application/x-www-form-urlencoded'},
										body:	'project={{pwic.project|urlencode}}&' +
												'page={{pwic.page|urlencode}}&' +
												'revision={{pwic.revision|urlencode}}',
										credentials: 'same-origin' })
				.then(function(response) {
					if (response.status != 200)
						throw Error(response.status + ' ' + response.statusText);
					else
						window.location =	'/{{pwic.project|escape}}' +
											'/{{pwic.page|escape}}' +
											(action != 'delete' ? '/rev{{pwic.revision|escape}}' : '') +
											(action == 'delete' ? '?success' : '');
				})
				.catch(function(error) {
					alert(error);
				});
		}
		return false;
	}

	function page_export(format) {
		fetch('/api/page/export', {	method: 'POST',
									headers: {'Content-Type': 'application/x-www-form-urlencoded'},
									body:	'project={{pwic.project|urlencode}}&' +
											'page={{pwic.page|urlencode}}&' +
											'revision={{pwic.revision|urlencode}}&'+
											'format=' + encodeURIComponent(format),
									credentials: 'same-origin' })
			.then(function(response) {
				if (response.status != 200)
					throw Error(response.status + ' ' + response.statusText);
				else
				{
					var filename = response.headers.get('Content-Disposition').split('"')[1];
					filename = filename.substring(10,filename.length-2);
					filename = decodeURIComponent(escape(atob(filename)))
					response.blob().then(function(blob) {
						var dl = $(document.createElement('a'))
									.attr('href', window.URL.createObjectURL(new Blob([blob], {type: blob.type})))
									.attr('download', filename)
									.appendTo('body')  // Firefox
									.trigger('click');
						$('body').remove(dl);
						window.URL.revokeObjectURL(dl.href);
						return true;
					});
				}
			})
			.catch(function(error) {
				alert(error);
			});
		return false;
	}
</script>