<script>
	'use strict';

	// -------------------------------- Toolbar

	function edit_decorate(tag) {
		return edit_decorate2(tag, tag);
	}

	function edit_decorate2(tagStart, tagEnd) {
		var	ta = $('#edit_markdown')[0],
			ss = ta.selectionStart,
			se = ta.selectionEnd;

		// Replace the text by another one
		if (ss == se)
			return false;
		ta.value = ta.value.substring(0, ss) + tagStart + ta.value.substring(ss, se) + tagEnd + ta.value.substring(se);
		ta.selectionStart = ss + tagStart.length;
		ta.selectionEnd = se + tagEnd.length;
		ta.focus();
		return true;
	}

	function edit_link(text) {
		var	ta = $('#edit_markdown')[0],
			ss = ta.selectionStart,
			se = ta.selectionEnd;

		// Find the cursors
		if (ss == se)
			return false;

		// Check the current selection for an autolink
		if (ta.value.substring(ss, se).match('^[a-z]{3,5}:\/\/'))
			return edit_decorate2('<', '>');

		// Ask for the link
		var url = prompt(text, '');
		if ((url == '') || (url == null))
			return false;
		url = url.trim();
		if (url.match(/^[a-z0-9_\-\.]+(#p[0-9\.]+)?$/i))
			url = '/{{pwic.project}}/' + url.toLowerCase();

		// Replace the text by another one
		ta.value = ta.value.substring(0, ss) + '[' + ta.value.substring(ss, se) + ']('+url+')' + ta.value.substring(se);
		ta.selectionStart = ss;
		ta.selectionEnd = se + 4 + url.length;
		ta.focus();
		return true;
	}

	function edit_prepend(tag) {
		var	ta = $('edit_markdown')[0],
			ss = ta.selectionStart,
			se = ta.selectionEnd;
		if (ss > se)
			ss, se = se, ss

		// Prepend the tag
		var appended = 0;
		for (var i=se ; i>=0 ; i--)
		{
			if ((i == 0) || (ta.value[i] == "\n"))
			{
				var j = (i != 0 ? 1 : 0);
				ta.value = ta.value.substring(0, i+j) + tag + ta.value.substring(i+j);
				appended++;
				if (i <= ss)
					break;
			}
		}
		ta.selectionStart = ss + tag.length;
		ta.selectionEnd = se + appended * tag.length;
		ta.focus();
		return true;
	}

	function edit_table(textCol, textRow) {
		// Get the dimensions of the table
		var ncol = parseInt(prompt(textCol, 0));
		if (isNaN(ncol) || (ncol < 1))
			return false;
		var nrow = parseInt(prompt(textRow, 0)) + 1;
		if (isNaN(nrow) || (nrow < 1))
			return false;

		// Prepare the associated markdown
		var i, j, buffer='';
		for (i=0 ; i<nrow ; i++)
		{
			buffer += '|';
			for (j=0 ; j<ncol ; j++)
				buffer += '          |';
			buffer += '\n';
			if (i == 0)
			{
				buffer += '|';
				for (j=0 ; j<ncol ; j++)
					buffer += ' -------- |';
				buffer += '\n';
			}
		}

		// Apply the text
		if (easyMDE)
		{
			easyMDE.codemirror.replaceSelection(buffer);
			easyMDE.codemirror.focus();
		}
		else
		{
			var	ta = $('#edit_markdown')[0],
				se = ta.selectionEnd;
			ta.value = ta.value.substring(0, se) + buffer + ta.value.substring(se);
		}
		return true;
	}

	function edit_footnote() {
		var	ta = $('#edit_markdown')[0],
			se = ta.selectionEnd;

		// Search for the highest current footnote
		var	id = 0,
			list = [...ta.value.matchAll(/\[\^([0-9]+)\]/g)];
		list.forEach(function(match){
			var value = parseInt(match[1]);
			if (value > id)
				id = value;
		});

		// Apply the footnote
		ta.value = ta.value.substring(0, se) + ' [^'+(id+1)+']' + ta.value.substring(se) + '\n\n' + '[^'+(id+1)+']: '
		ta.selectionStart = ta.selectionEnd = ta.value.length;
		ta.focus();
		return true;
	}

	function edit_join_document(id, filename, mime) {
		var buffer = '';

		// Include an image
		if (mime.substring(0, 6) == 'image/')
		{
			var tip = prompt('Tooltip of the image:', ''),
				alt = prompt('Alternate text for the image:', '');
			buffer = '![';
			if (alt != '')
				buffer += pwic_kick(alt, '[]');
			buffer += '](/special/document/' + id;
			if (tip != '')
				buffer += ' "'+pwic_kick(tip, '"')+'"';
			buffer += ')';
		}

		// Any other file
		else
			buffer = '['+filename+'](/special/document/'+id+'?attachment)'

		// Set the value
		if (easyMDE)
		{
			easyMDE.codemirror.replaceSelection(buffer);
			easyMDE.codemirror.focus();
		}
		else
		{
			var	ta = $('#edit_markdown')[0],
				ss = ta.selectionStart,
				se = ta.selectionEnd;
			ta.value = ta.value.substring(0, ss) + buffer + ta.value.substring(se);
			ta.selectionStart = ss + buffer.length;
			ta.selectionEnd = ta.selectionStart;
			ta.focus();
		}
		return false;
	}


	// -------------------------------- Editor

	$('#edit_markdown').on('keydown', function(event) {
		if (event.keyCode == 9)
		{
			var	ta = $('#edit_markdown')[0],
				ss = ta.selectionStart,
				se = ta.selectionEnd;
			if (ss == se)
			{
				ta.value = ta.value.substring(0, ss) + "\t" + ta.value.substring(ss);
				ta.selectionStart = ss + 1;
				ta.selectionEnd = ss + 1;
			}
			else
				edit_prepend("\t");
			return false;
		}
		else
			return true;
	});


	// -------------------------------- File drop

	async function edit_refresh_documents() {
		var options = {	method: 'POST',
						headers: {'Content-Type': 'application/x-www-form-urlencoded'},
						body: 'document_project={{pwic.project|urlencode}}&document_page={{pwic.page|urlencode}}',
						credentials: 'same-origin' };
		try {
			var request = await fetch('/api/document/list', options);
			if (request.ok)
			{
				var	data = await request.json(),
					buffer = '';
				for (var i=0 ; i<data.length ; i++)
				{
					var doc = data[i];
					buffer += '<tr>\
									<td><a href="#" onclick="edit_join_document('+doc['id']+', \''+pwic_slash(doc['filename'])+'\', \''+pwic_slash(doc['mime'])+'\')">{{pwic.emojis.plus}}<\/a><\/td>\
									<td><a href="/special/document/'+encodeURIComponent(doc['id'])+'/'+encodeURIComponent(doc['filename'])+'" target="_blank">'+pwic_entities(doc['filename'])+'<\/a><\/td>\
									<td title="Hash: '+pwic_entities(doc['hash'])+'">'+pwic_entities(doc['size'])+'<\/td>\
									<td class="pwic_desktop">'+doc['mime_icon']+' '+pwic_entities(doc['mime'])+'<\/td>\
									<td class="pwic_desktop"><a href="/special/user/'+encodeURIComponent(doc['author'])+'" target="_blank">'+pwic_entities(doc['author'])+'<\/a><\/td>\
									<td>'+pwic_entities(doc['date'])+'<\/td>\
									<td class="pwic_desktop">'+pwic_entities(doc['time'])+'<\/td>\
									<td><input type="button" onclick="return edit_document_delete('+doc['id']+', \''+pwic_slash(doc['filename'])+'\')" value="{{pwic.emojis.trash}}" title="Delete the document" /><\/td>\
								<\/tr>';
				}
				$('#edit_files_list').html(edit_files_list_initial + buffer).toggleClass('pwic_hidden', data.length == 0);
			}
		}
		catch (error) {
			console.log(error);
		}
	}

	var edit_files_list_initial = $('#edit_files_list').html();
	edit_refresh_documents();	// For the initialization

	function edit_drop(event, errorUnsupported, successText) {
		$('#edit_files_drop').removeClass('pwic_dragover');
		if (event.dataTransfer.items)
		{
			event.preventDefault();
			event.stopPropagation();
			
			// Create an XHR for each file
			var files = event.dataTransfer.files;
			for (var i=0 ; i<files.length ; i++)
			{
				// Fields
				var form = new FormData();
				form.append('document_project', '{{pwic.project|escape}}');
				form.append('document_page', '{{pwic.page|escape}}');
				form.append('document_content', files[i]);

				// Request
				fetch('/api/document/create', {	method: 'POST',
												body: form,
												credentials: 'same-origin' })
					.then(function(response) {
						if (response.status != 200)
							throw Error(response.status + ' ' + response.statusText);
						else {
							setTimeout(function() {
								edit_refresh_documents();
							}, 2000);
							alert(successText);
						}
					})
					.catch(function(error) {
						alert(error);
					});
			}
		}
		else
			alert(errorUnsupported);
	}

	function edit_dragover(event) {
		$('#edit_files_drop').addClass('pwic_dragover');
		event.preventDefault();
		event.stopPropagation();
	}

	function edit_dragleave(event) {
		$('#edit_files_drop').removeClass('pwic_dragover');
		event.preventDefault();
		event.stopPropagation();
	}

	function edit_document_delete(id, filename) {
		if (confirm('Are sure to delete "'+filename+'"?'))
		{
			fetch('/api/document/delete', {	method: 'POST',
											headers: {'Content-Type': 'application/x-www-form-urlencoded'},
											body:	'document_project={{pwic.project|urlencode}}'+
													'&document_page={{pwic.page|urlencode}}' +
													'&document_id='+encodeURIComponent(id) +
													'&document_filename='+encodeURIComponent(filename),
											credentials: 'same-origin' })
				.then(function(response) {
					if (response.status != 200)
						throw Error(response.status + ' ' + response.statusText);
					else
						setTimeout(function() {
							edit_refresh_documents();
						}, 1000);
				})
				.catch(function(error) {
					alert(error);
				});
		}
		return false;
	}


	// -------------------------------- Submit

	var edit_submittable = false;

	function edit_submit(errorText, errorPing) {
		// Check the current values
		edit_submittable = ($('#edit_title').val() != '')
						&& ($('#edit_comment').val() != '');
		if (!edit_submittable)
			alert(errorText);
		else
		{
			// First ping-pong the server to make sure that the session is still valid
			fetch('/api/server/ping', {	method: 'POST',
										credentials: 'same-origin' })
				.then(function(response) {
					if (response.status != 200)
						throw Error(errorPing + ' ['+response.status+']');
					else
						response.text().then(function (text) {
							if (text == 'OK')
								// OK let's submit the modification to not lose the current work in progress
								$('#edit_form')[0].submit();
							else
								alert(errorPing);
						});
				})
				.catch(function(error) {
					alert(errorPing);
				});
		}
	}

	function edit_preview(pageTitle, buttonTitle) {
		var	ta = $('#edit_markdown')[0],
			ss = ta.selectionStart,
			se = ta.selectionEnd;
		fetch('/api/page/markdown', {	method: 'POST',
										headers: {'Content-Type': 'application/x-www-form-urlencoded'},
										body:	'markdown_project={{pwic.project|urlencode}}' +
												'&markdown_content='+encodeURIComponent(ss == se ? ta.value : ta.value.substring(ss, se)),
										credentials: 'same-origin' })
			.then(function(response) {
				if (response.status != 200)
					throw Error(response.status + ' ' + response.statusText);
				else
					response.text().then(function (text) {
						var page = window.open('');
						page.document.title = pageTitle;
						page.document.body.innerHTML = '\
<html>\
<head>\
	<link rel="stylesheet" type="text/css" href="'+window.location.protocol+'//'+window.location.host+'/static/styles.css" />\
<\/head>\
<body>\
	<article>\
		<p style="position:fixed; top:0px; right:0px; padding:15px">\
			<input type="button" onclick="window.close()" value="{{pwic.emojis.door}} '+buttonTitle+'" />\
		<\/p>\
		' + text + '\
	<\/article>\
<\/body>\
<\/html>';
					});
			})
			.catch(function(error) {
				alert(error);
			});
	}


	// -------------------------------- Leave without save

	window.onbeforeunload = function (e) {
		var	msg = 'The current changes may be lost.',
			e = e || window.event;
		if (!edit_submittable)
		{
			if (e)
				e.returnValue = msg;
			return msg;
		}
	};
</script>