<script>
	'use strict';

	function create_submit(errorText) {
		var	project = $('#create_project').val(),
			user = $('#create_user').val().trim().toLowerCase();
		if ((project == '') || (user.substring(0, 4) == 'pwic'))
			alert(errorText);
		else {
			$('INPUT[type=button]').attr('disabled', '');
			fetch('/api/user/create', {	method: 'POST',
										headers: {'Content-Type': 'application/x-www-form-urlencoded'},
										body:	'project='+encodeURIComponent(project)+
												'&user='+encodeURIComponent(user),
										credentials: 'same-origin' })
				.then(function(response) {
					$('INPUT[type=button]').removeAttr('disabled');
					if (response.status != 200)
						throw Error(response.status + ' ' + response.statusText);
					else
						window.location = '/'+project+'/special/roles';
				})
				.catch(function(error) {
					alert(error);
					$('INPUT[type=button]').removeAttr('disabled');
				});
		}
	}
</script>