<script>
	'use strict';

	function roles_sort(column) {
		function _sortkey(obj) {
			var list = $(obj).find('INPUT[type=checkbox]');
			if (list.length > 0)
				return list.attr('checked') || 'not-checked';
			else
				return obj.textContent.toLowerCase();
		}
		var table, finished, i;
		table = $('#roles_table')[0];
		do {	
			finished = true;
			for (i=1 ; i<table.rows.length-1 ; i++)
			{
				if (_sortkey($(table.rows[i]).find('TD')[column]) > _sortkey($(table.rows[i+1]).find('TD')[column]))
				{
					table.rows[i].parentNode.insertBefore(table.rows[i+1], table.rows[i]);
					finished = false;
					break;
				}
			}
		} while (!finished);
	}

	(function(){
		var i, elements = $('#roles_table TR TH');
		for (i=0 ; i<elements.length-1 ; i++)
			elements[i].innerHTML = '<span class="pwic_cursor" onclick="roles_sort('+i+')"> {{pwic.emojis.updown}} <\/span> ' + elements[i].innerHTML;
	}());

	function roles_toggle(id, project, user, role) {
		var element = $('#roles_tag_' + id);
		if (element.length > 0)
		{
			element.toggleClass('pwic_hidden');				// Hide until the request is completed
			fetch('/api/user/roles/set', {	method: 'POST',
											body:	'project='+encodeURIComponent(project) +
													'&name='+encodeURIComponent(user) +
													'&role='+encodeURIComponent(role),
											credentials: 'same-origin' })
				.then(function(response) {
					if (response.status != 200)
						throw Error(response.status + ' ' + response.statusText);
					else
						response.text().then(function(text) {
							setTimeout(function() {
								if (element.attr('type') == 'checkbox')
									element.prop('checked', text == 'X');
								if (text != 'OK')
									element.toggleClass('pwic_hidden');
							}, 2000);
						});
				})
				.catch(function(error) {
					setTimeout(function() {
						element.toggleClass('pwic_hidden');	// Restore the visibility of the element
					}, 2000);
				});
		}
		return false;	// The element is updated async later
	}

	function roles_delete(text, id, project, user) {
		return confirm(text) && roles_toggle(id, project, user, 'delete');
	}
</script>